{# Place theme favicons in /themes/base/images/favicons #}
<link rel="apple-touch-icon" sizes="180x180" href="/themes/base/images/favicons/apple-touch-icon.png?v=wAXr4OLwK8">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/base/images/favicons/favicon-32x32.png?v=wAXr4OLwK8">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/base/images/favicons/favicon-16x16.png?v=wAXr4OLwK8">
<link rel="manifest" href="/themes/base/images/favicons/site.webmanifest?v=wAXr4OLwK8">
<link rel="mask-icon" href="/themes/base/images/favicons/safari-pinned-tab.svg?v=wAXr4OLwK8" color="#151515">
<link rel="shortcut icon" href="/themes/base/images/favicons/favicon.ico?v=wAXr4OLwK8">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/themes/base/images/favicons/browserconfig.xml?v=wAXr4OLwK8">
<meta name="theme-color" content="#ffffff">