{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">

<svg class="main-logo" width="447px" height="72px" viewBox="0 0 447 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0.7926 0.7893 25.494 0.7893 25.494 31.5743 0.7926 31.5743"></polygon>
        <polygon id="path-3" points="0.8751 0.7391 11.7911 0.7391 11.7911 16 0.8751 16"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Logo-wit">
            <g id="Group-68">
                <g id="Group-67">
                    <path d="M0,26.1491 C0,26.0601 0,25.9721 0.045,25.9721 L4.152,22.9681 C4.24,22.9241 4.328,22.9241 4.373,22.9681 C6.096,25.6631 9.011,27.0331 11.925,27.0331 C14.487,27.0331 15.812,25.3091 15.812,23.5431 C15.812,21.6441 14.576,19.9201 10.999,18.6401 C5.212,16.6071 1.767,13.9581 1.767,8.6131 C1.767,3.4451 5.699,0.0001 10.866,0.0001 C15.947,0.0001 19.17,2.7381 21.114,5.4331 C21.159,5.4771 21.159,5.5651 21.114,5.6101 L17.313,8.7461 C17.271,8.7901 17.183,8.7901 17.138,8.7461 C15.548,6.8901 13.517,5.4771 11.042,5.4771 C8.79,5.4771 7.552,6.9341 7.552,9.0101 C7.552,10.9101 9.274,11.9251 12.764,13.0741 C18.287,14.8851 21.466,18.2861 21.466,22.9681 C21.466,27.8711 18.375,32.4201 11.042,32.4201 C5.257,32.4201 1.812,29.0641 0,26.1491" id="Fill-1" fill="#FEFEFE"></path>
                    <path d="M28.7627,6.3605 C28.6727,6.3605 28.6277,6.3165 28.6277,6.2275 L28.6277,0.7505 C28.6277,0.6625 28.6727,0.6175 28.7627,0.6175 L56.5907,0.6175 C56.6787,0.6175 56.7207,0.6625 56.7207,0.7505 L56.7207,6.2275 C56.7207,6.3165 56.6787,6.3605 56.5907,6.3605 L45.6797,6.4485 L45.6797,31.7145 C45.6797,31.8025 45.6347,31.8465 45.5467,31.8465 L39.7597,31.8465 C39.6717,31.8465 39.6287,31.8025 39.6287,31.7145 L39.6287,6.4485 L28.7627,6.3605 Z" id="Fill-3" fill="#FEFEFE"></path>
                    <path d="M77.4898,5.963 L71.3948,5.963 L71.3948,14.179 L76.5618,14.179 C79.6098,14.179 81.5528,12.898 81.5528,10.159 C81.5528,8.437 80.6688,5.963 77.4898,5.963 L77.4898,5.963 Z M71.3048,31.714 C71.3048,31.803 71.2608,31.847 71.1738,31.847 L65.6508,31.847 C65.5648,31.847 65.5198,31.803 65.5198,31.714 L65.5198,0.751 C65.5198,0.663 65.5648,0.618 65.6508,0.618 L78.4618,0.618 C81.0678,0.618 87.4278,2.164 87.4278,10.468 C87.4278,14.002 85.3528,16.962 82.2158,18.11 C82.7468,19.082 85.9258,25.089 87.7818,28.711 C88.4868,30.125 89.1068,31.052 89.5488,31.626 C89.6808,31.759 89.5918,31.847 89.4608,31.847 L82.3048,31.847 C82.2608,31.847 82.2158,31.803 82.1728,31.759 L76.7818,20.141 L71.3048,20.097 L71.3048,31.714 Z" id="Fill-5" fill="#FEFEFE"></path>
                    <path d="M120.917,26.1051 C121.005,26.1051 121.05,26.1491 121.05,26.2371 L121.05,31.7141 C121.05,31.8031 121.005,31.8471 120.917,31.8471 L99.229,31.8471 C99.142,31.8471 99.098,31.8031 99.098,31.7141 L99.098,0.7501 C99.098,0.6631 99.142,0.6181 99.229,0.6181 L119.77,0.6181 C119.857,0.6181 119.901,0.6631 119.901,0.7501 L119.901,6.1841 C119.901,6.2711 119.857,6.3161 119.77,6.3161 L105.148,6.4041 L105.148,13.6931 L115.352,13.8251 C115.441,13.8251 115.484,13.8701 115.484,13.9581 L115.484,19.2581 C115.484,19.3471 115.441,19.3911 115.352,19.3911 L105.148,19.4791 L105.148,26.1051 L120.917,26.1051 Z" id="Fill-7" fill="#FEFEFE"></path>
                    <path d="M128.126,6.3605 C128.036,6.3605 127.991,6.3165 127.991,6.2275 L127.991,0.7505 C127.991,0.6625 128.036,0.6175 128.126,0.6175 L155.954,0.6175 C156.042,0.6175 156.084,0.6625 156.084,0.7505 L156.084,6.2275 C156.084,6.3165 156.042,6.3605 155.954,6.3605 L145.043,6.4485 L145.043,31.7145 C145.043,31.8025 144.998,31.8465 144.91,31.8465 L139.123,31.8465 C139.035,31.8465 138.992,31.8025 138.992,31.7145 L138.992,6.4485 L128.126,6.3605 Z" id="Fill-9" fill="#FEFEFE"></path>
                    <path d="M161.2173,16.1661 C161.2173,8.4801 166.3843,0.0001 176.9843,0.0001 C183.8323,0.0001 187.4533,3.1361 188.6463,4.8141 C188.6913,4.8581 188.6913,4.9471 188.6463,4.9911 L184.7593,9.1441 C184.7163,9.2311 184.6263,9.1871 184.5813,9.1441 C183.4343,7.4651 180.6523,5.4771 177.2953,5.4771 C171.5083,5.4771 167.6653,9.1441 167.6653,16.1661 C167.6653,23.3221 172.1263,27.0331 177.7793,27.0331 C181.9323,27.0331 184.4053,24.6031 185.2443,23.4991 C185.2893,23.4541 185.3793,23.4101 185.4223,23.4991 L188.9113,27.6941 C188.9543,27.7391 188.9543,27.8271 188.9113,27.8711 C186.6143,30.3451 182.9483,32.4651 177.1193,32.4651 C168.8143,32.4651 161.2173,26.8551 161.2173,16.1661" id="Fill-11" fill="#FEFEFE"></path>
                    <path d="M204.2041,31.714 C204.2041,31.803 204.1601,31.847 204.0701,31.847 L198.2851,31.847 C198.1951,31.847 198.1521,31.803 198.1521,31.714 L198.1521,0.751 C198.1521,0.663 198.1951,0.618 198.2851,0.618 L204.0701,0.618 C204.1601,0.618 204.2041,0.663 204.2041,0.751 L204.2041,13.693 L218.9561,13.693 L218.9561,0.751 C218.9561,0.663 219.0001,0.618 219.0881,0.618 L224.8751,0.618 C224.9631,0.618 225.0081,0.663 225.0081,0.751 L225.0081,31.714 C225.0081,31.803 224.9631,31.847 224.8751,31.847 L219.0881,31.847 C219.0001,31.847 218.9561,31.803 218.9561,31.714 L218.9561,19.479 L204.2041,19.479 L204.2041,31.714 Z" id="Fill-13" fill="#FEFEFE"></path>
                    <path d="M267.7325,6.671 C267.7325,5.262 267.3505,4.097 266.5895,3.176 C265.8275,2.256 264.8845,1.796 263.7625,1.796 C262.6275,1.796 261.7175,2.202 261.0345,3.015 C260.3505,3.827 260.0085,4.895 260.0085,6.218 C260.0085,7.268 260.2715,8.325 260.7955,9.389 C261.3225,10.454 262.2325,11.755 263.5265,13.294 C264.9205,12.359 265.9705,11.339 266.6755,10.231 C267.3795,9.124 267.7325,7.937 267.7325,6.671 L267.7325,6.671 Z M269.5015,26.324 L261.1105,15.947 C259.3985,16.624 258.1215,17.476 257.2805,18.505 C256.4385,19.532 256.0195,20.737 256.0195,22.117 C256.0195,24.102 256.6475,25.778 257.9055,27.144 C259.1655,28.511 260.7435,29.193 262.6405,29.193 C263.9925,29.193 265.2295,28.96 266.3515,28.492 C267.4735,28.025 268.5225,27.303 269.5015,26.324 L269.5015,26.324 Z M284.3865,27.64 C283.2355,29.208 282.1035,30.373 280.9885,31.135 C279.8755,31.897 278.7705,32.278 277.6785,32.278 C276.3115,32.278 275.1825,31.99 274.2905,31.416 C273.3985,30.841 272.0965,29.51 270.3865,27.424 C268.6745,29.216 267.0915,30.472 265.6405,31.194 C264.1875,31.917 262.5975,32.278 260.8725,32.278 C258.3995,32.278 256.3455,31.456 254.7125,29.81 C253.0825,28.165 252.2655,26.083 252.2655,23.563 C252.2655,21.553 252.9565,19.791 254.3365,18.276 C255.7165,16.763 257.6795,15.62 260.2245,14.847 C258.9605,13.582 258.0175,12.345 257.3995,11.137 C256.7805,9.929 256.4715,8.735 256.4715,7.556 C256.4715,5.586 257.2085,3.913 258.6815,2.541 C260.1575,1.167 261.8645,0.48 263.8055,0.48 C265.7335,0.48 267.3475,1.051 268.6485,2.195 C269.9525,3.338 270.6025,4.751 270.6025,6.434 C270.6025,8.017 270.0945,9.441 269.0805,10.705 C268.0675,11.971 266.5105,13.13 264.4105,14.179 L272.1555,23.671 C273.7095,21.845 274.9415,20.033 275.8545,18.234 C276.7685,16.437 277.2245,15.013 277.2245,13.963 C277.2245,13.259 276.9885,12.748 276.5135,12.431 C276.0395,12.115 275.2475,11.957 274.1405,11.957 L274.1405,11.007 C275.1605,11.131 276.0825,11.234 276.9015,11.316 C277.7215,11.398 278.4195,11.439 278.9935,11.439 C279.6275,11.439 280.2585,11.415 280.8915,11.367 C281.5255,11.319 282.5105,11.199 283.8485,11.007 L283.8485,11.957 C282.7405,11.957 281.8945,12.14 281.3125,12.507 C280.7295,12.873 280.1085,13.726 279.4475,15.063 C278.3535,17.235 277.2635,19.144 276.1785,20.791 C275.0925,22.438 274.0455,23.765 273.0395,24.771 C274.6065,26.598 275.8105,27.791 276.6535,28.352 C277.4935,28.913 278.4255,29.193 279.4475,29.193 C280.1655,29.193 280.8375,29.032 281.4625,28.708 C282.0895,28.385 282.8125,27.813 283.6325,26.993 L284.3865,27.64 Z" id="Fill-15" fill="#FEFEFE"></path>
                    <path d="M325.0665,24.2965 L331.2965,10.1445 L331.5555,9.5625 C333.6095,4.9175 334.6375,2.1705 334.6375,1.3205 C334.6375,1.2925 334.6305,1.2495 334.6155,1.1915 C334.6015,1.1345 334.5945,1.0915 334.5945,1.0625 C335.4425,1.1055 336.2085,1.1375 336.8895,1.1595 C337.5735,1.1805 338.1795,1.1915 338.7125,1.1915 C339.2145,1.1915 339.7975,1.1805 340.4595,1.1595 C341.1205,1.1375 341.8465,1.1055 342.6365,1.0625 L342.6365,2.5505 L342.3785,2.5505 C341.1275,2.5505 340.2675,2.7665 339.7995,3.1975 C339.3345,3.6295 339.0985,4.3995 339.0985,5.5065 C339.0985,5.9375 339.1285,6.9015 339.1855,8.3975 C339.2445,9.8935 339.3145,11.5115 339.4015,13.2515 L339.7685,19.3135 L339.7895,19.8955 C340.1055,25.2755 340.3505,28.3165 340.5225,29.0205 C340.6095,29.4385 340.8755,29.7615 341.3225,29.9915 C341.7675,30.2215 342.3485,30.3365 343.0685,30.3365 L343.6085,30.3365 L343.6085,31.8465 C342.4715,31.7895 341.4155,31.7465 340.4405,31.7175 C339.4625,31.6895 338.6545,31.6745 338.0095,31.6745 C337.2525,31.6745 336.3995,31.6895 335.4525,31.7175 C334.5035,31.7465 333.4905,31.7895 332.4115,31.8465 L332.4115,30.2935 C332.5415,30.2935 332.7075,30.3015 332.9085,30.3155 C333.1085,30.3295 333.2545,30.3365 333.3395,30.3365 C334.4325,30.3365 335.1915,30.1425 335.6145,29.7545 C336.0395,29.3655 336.2515,28.6615 336.2515,27.6405 C336.2515,27.1655 336.2445,26.6985 336.2305,26.2375 C336.2145,25.7775 336.1945,25.3035 336.1655,24.8145 L335.3245,6.2615 L326.4795,26.6045 C326.4635,26.6335 326.4365,26.6985 326.3935,26.7985 C325.7035,28.2225 325.1925,29.7405 324.8615,31.3505 L323.4375,31.3505 C323.2355,30.4595 322.7335,29.0935 321.9265,27.2515 L321.8405,27.0575 L313.1475,7.3615 C313.0615,8.9005 312.9385,11.0155 312.7805,13.7045 C312.3785,20.3785 312.1755,24.5555 312.1755,26.2375 L312.1755,26.4535 C312.1755,28.2805 312.3815,29.3835 312.7905,29.7655 C313.2015,30.1465 314.0385,30.3365 315.3045,30.3365 L315.7565,30.3365 L315.7565,31.8465 C314.8215,31.7895 313.9275,31.7465 313.0715,31.7175 C312.2155,31.6895 311.3855,31.6745 310.5805,31.6745 C310.0045,31.6745 309.2895,31.6895 308.4325,31.7175 C307.5785,31.7465 306.6605,31.7895 305.6835,31.8465 L305.6835,30.3365 L306.2875,30.3365 C307.1075,30.3365 307.7175,30.2365 308.1205,30.0345 C308.5225,29.8335 308.8395,29.4815 309.0695,28.9775 C309.3415,28.3885 309.6235,26.0005 309.9125,21.8155 C309.9825,20.6655 310.0475,19.7525 310.1055,19.0755 L310.4935,13.8555 L310.4935,13.7905 C310.8815,8.6275 311.0775,5.6935 311.0775,4.9885 C311.0775,4.0825 310.8575,3.4495 310.4175,3.0895 C309.9795,2.7315 309.1485,2.5505 307.9265,2.5505 L307.5825,2.5505 L307.5825,1.0625 C307.6955,1.0625 307.8835,1.0695 308.1425,1.0835 C309.8095,1.1845 310.9745,1.2345 311.6375,1.2345 C312.1395,1.2345 313.0955,1.1915 314.5055,1.1055 C314.9515,1.0765 315.2895,1.0625 315.5205,1.0625 L315.5205,1.1915 C315.5205,2.4725 317.9565,8.5125 322.8265,19.3135 L325.0665,24.2965 Z" id="Fill-17" fill="#FEFEFE"></path>
                    <path d="M376.6378,17.0909 C376.6378,12.9059 375.5598,9.4719 373.4018,6.7899 C371.2438,4.1079 368.5268,2.7669 365.2468,2.7669 C362.0978,2.7669 359.5698,3.9179 357.6638,6.2179 C355.7588,8.5199 354.8058,11.5979 354.8058,15.4509 C354.8058,19.7369 355.8878,23.2539 358.0518,26.0009 C360.2168,28.7479 362.9238,30.1209 366.1738,30.1209 C369.3098,30.1209 371.8368,28.9379 373.7568,26.5729 C375.6768,24.2069 376.6378,21.0469 376.6378,17.0909 M365.7218,0.3499 C367.9068,0.3499 369.8608,0.6629 371.5768,1.2889 C373.2968,1.9139 374.8538,2.8819 376.2488,4.1909 C377.9168,5.7729 379.1938,7.6069 380.0768,9.6919 C380.9628,11.7769 381.4048,13.9919 381.4048,16.3359 C381.4048,18.7239 380.9368,20.9819 380.0028,23.1099 C379.0678,25.2379 377.7378,27.0719 376.0118,28.6109 C374.6308,29.8479 373.0238,30.8149 371.1898,31.5119 C369.3568,32.2099 367.5188,32.5589 365.6788,32.5589 C363.3758,32.5589 361.2588,32.1339 359.3248,31.2859 C357.3918,30.4379 355.6828,29.1799 354.2018,27.5109 C352.8488,25.9869 351.8168,24.2749 351.1058,22.3769 C350.3928,20.4779 350.0368,18.4799 350.0368,16.3789 C350.0368,14.1069 350.4658,11.9599 351.3218,9.9389 C352.1778,7.9189 353.4168,6.1469 355.0418,4.6219 C356.5098,3.2409 358.1628,2.1839 360.0038,1.4509 C361.8458,0.7169 363.7508,0.3499 365.7218,0.3499" id="Fill-19" fill="#FEFEFE"></path>
                    <path d="M395.5801,16.6378 C396.2701,16.7108 396.9221,16.7608 397.5321,16.7888 C398.1431,16.8188 398.6861,16.8318 399.1611,16.8318 C399.5631,16.8318 400.0241,16.8218 400.5421,16.7998 C401.0591,16.7788 401.6211,16.7388 402.2251,16.6808 C403.6051,15.8468 404.6191,14.8798 405.2661,13.7788 C405.9131,12.6798 406.2371,11.3668 406.2371,9.8428 C406.2371,7.8438 405.5911,6.2398 404.2961,5.0318 C403.0021,3.8238 401.2601,3.2198 399.0751,3.2198 C398.4851,3.2198 397.9101,3.2448 397.3501,3.2948 C396.7891,3.3458 396.2341,3.4218 395.6871,3.5218 C395.6441,5.3048 395.6151,7.1388 395.6011,9.0228 C395.5881,10.9078 395.5801,13.4448 395.5801,16.6378 L395.5801,16.6378 Z M387.9001,30.4448 C388.0011,30.4588 388.0981,30.4698 388.1921,30.4768 C388.2851,30.4848 388.4251,30.4878 388.6111,30.4878 C390.5231,30.4878 391.4951,27.7988 391.5241,22.4198 C391.5391,21.0678 391.5531,20.0108 391.5681,19.2478 L391.6541,13.3588 C391.6681,12.0938 391.6791,10.8648 391.6871,9.6698 C391.6941,8.4768 391.6971,7.1818 391.6971,5.7868 C391.6971,4.5508 391.4661,3.6938 391.0071,3.2198 C390.5461,2.7448 389.7261,2.5078 388.5481,2.5078 L388.3751,2.5078 L388.3751,0.9978 C389.3381,1.0698 390.2911,1.1198 391.2331,1.1488 C392.1761,1.1778 393.0921,1.1918 393.9841,1.1918 C394.9471,1.1918 396.1441,1.1598 397.5751,1.0948 C399.0061,1.0308 399.9591,0.9978 400.4341,0.9978 C403.3811,0.9978 405.7981,1.7738 407.6821,3.3268 C409.5661,4.8808 410.5091,6.8298 410.5091,9.1738 C410.5091,10.9138 410.0381,12.4638 409.0961,13.8228 C408.1531,15.1818 406.7401,16.3438 404.8561,17.3068 L408.8911,23.4118 C409.0331,23.6418 409.2491,23.9728 409.5371,24.4048 C412.3281,28.6618 414.6151,30.7898 416.3971,30.7898 L416.6131,30.7898 L416.6131,32.0198 C416.4111,32.0338 416.1091,32.0628 415.7071,32.1058 C414.7711,32.1918 414.0901,32.2348 413.6581,32.2348 C412.1331,32.2348 410.9301,32.0298 410.0451,31.6208 C409.1611,31.2098 408.2861,30.4158 407.4231,29.2368 C407.2801,29.0498 406.4861,27.7698 405.0401,25.3968 C403.5961,23.0238 402.1391,20.7878 400.6721,18.6868 C400.1251,18.7448 399.5411,18.7878 398.9241,18.8168 C398.3061,18.8458 397.6221,18.8598 396.8751,18.8598 L395.5801,18.8598 L395.5801,25.4828 C395.5801,27.6398 395.8031,29.0028 396.2481,29.5708 C396.6931,30.1388 397.5791,30.4228 398.9021,30.4228 C398.9461,30.4228 399.0031,30.4158 399.0751,30.4018 C399.1461,30.3878 399.2051,30.3798 399.2481,30.3798 C399.3051,30.3798 399.3511,30.3878 399.3881,30.4018 C399.4241,30.4158 399.4481,30.4228 399.4641,30.4228 L399.4641,31.8468 C398.4421,31.7898 397.4271,31.7468 396.4211,31.7178 C395.4151,31.6888 394.4161,31.6748 393.4231,31.6748 C392.8901,31.6748 392.1421,31.6888 391.1801,31.7178 C390.2151,31.7468 389.1221,31.7898 387.9001,31.8468 L387.9001,30.4448 Z" id="Fill-21" fill="#FEFEFE"></path>
                    <g id="Group-25" transform="translate(421.000000, 0.272800)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-24"></g>
                        <path d="M1.2676,0.7893 C3.7836,0.8753 6.0356,0.9403 8.0206,0.9833 C10.0046,1.0263 11.7146,1.0483 13.1546,1.0483 C14.7506,1.0483 16.3646,1.0263 17.9966,0.9833 C19.6296,0.9403 21.2876,0.8753 22.9696,0.7893 C22.9836,1.8683 23.0266,2.9723 23.0986,4.1003 C23.1716,5.2303 23.2576,6.3633 23.3576,7.4983 L21.9136,7.6283 C21.7976,5.9023 21.2656,4.7333 20.3166,4.1223 C19.3676,3.5113 17.3176,3.2063 14.1676,3.2063 C13.3616,3.2063 11.8876,3.2273 9.7466,3.2703 C9.3146,3.2853 8.9966,3.2913 8.7966,3.2913 C8.7676,5.0183 8.7246,7.1323 8.6676,9.6343 C8.6086,12.1373 8.5726,13.7623 8.5586,14.5103 L9.2286,14.5103 C10.0766,14.5103 11.1366,14.5213 12.4096,14.5413 C13.6826,14.5643 14.5356,14.5743 14.9666,14.5743 C17.0516,14.5743 18.4286,14.3803 19.0966,13.9923 C19.7666,13.6033 20.1286,12.8853 20.1876,11.8343 L21.5456,11.9643 C21.4456,12.8563 21.3706,13.6833 21.3196,14.4453 C21.2696,15.2073 21.2446,15.9123 21.2446,16.5593 C21.2446,16.9343 21.2806,17.7393 21.3526,18.9753 C21.3796,19.4213 21.4026,19.7603 21.4156,19.9893 L20.0146,20.0323 L20.0146,19.8603 C20.0146,18.6383 19.6576,17.8103 18.9466,17.3793 C18.2336,16.9473 16.5706,16.7313 13.9526,16.7313 L10.1126,16.7313 L8.5586,16.7313 C8.5586,17.4363 8.5516,18.4113 8.5386,19.6553 C8.5226,20.8983 8.5156,21.7943 8.5156,22.3403 C8.5156,23.2903 8.5226,24.2793 8.5386,25.3073 C8.5516,26.3353 8.5806,27.5403 8.6236,28.9203 C9.3426,29.0073 10.1586,29.0713 11.0716,29.1143 C11.9866,29.1583 12.9896,29.1793 14.0806,29.1793 C17.6916,29.1793 20.0686,28.8313 21.2106,28.1323 C22.3556,27.4353 23.2646,26.0943 23.9416,24.1093 L25.4946,24.6273 C25.0626,25.8223 24.6816,26.9943 24.3506,28.1443 C24.0186,29.2953 23.7326,30.4383 23.4876,31.5743 C21.2296,31.4873 19.1296,31.4233 17.1876,31.3803 C15.2466,31.3363 13.4916,31.3153 11.9236,31.3153 C9.7806,31.3153 6.3296,31.3943 1.5696,31.5523 L0.7926,31.5743 L0.7926,30.1713 C0.8926,30.1863 0.9916,30.1973 1.0836,30.2043 C1.1776,30.2113 1.3176,30.2153 1.5046,30.2153 C3.4176,30.2153 4.3876,27.5263 4.4166,22.1463 C4.4306,20.7953 4.4466,19.7383 4.4596,18.9753 L4.5456,13.0863 C4.5596,11.8213 4.5726,10.5913 4.5796,9.3973 C4.5856,8.2043 4.5886,6.9093 4.5886,5.5143 C4.5886,4.2773 4.3596,3.4213 3.8996,2.9463 C3.4386,2.4723 2.6186,2.2343 1.4396,2.2343 L1.2676,2.2343 L1.2676,0.7893 Z" id="Fill-23" fill="#FEFEFE" mask="url(#mask-2)"></path>
                    </g>
                    <path d="M51.8038,57.4113 C51.7618,57.4113 51.7398,57.3903 51.7398,57.3483 L51.7398,56.0763 C51.7398,56.0333 51.7618,56.0123 51.8038,56.0123 L64.2038,56.0123 C64.2448,56.0123 64.2678,56.0333 64.2678,56.0763 L64.2678,57.3483 C64.2678,57.3903 64.2448,57.4113 64.2038,57.4113 L58.7348,57.4323 L58.7348,70.9333 C58.7348,70.9753 58.7138,70.9973 58.6708,70.9973 L57.2728,70.9973 C57.2298,70.9973 57.2088,70.9753 57.2088,70.9333 L57.2088,57.4323 L51.8038,57.4113 Z" id="Fill-26" fill="#FEFEFE"></path>
                    <path d="M72.2012,58.1105 L69.6802,64.3415 L74.6382,64.3415 L72.2012,58.1105 Z M67.0082,70.9555 C67.0082,70.9755 66.9672,70.9975 66.9442,70.9975 L65.5882,70.9975 C65.5242,70.9975 65.5032,70.9555 65.5242,70.9135 L71.6502,56.0545 C71.6712,56.0335 71.6922,56.0115 71.7142,56.0115 L72.8152,56.0115 C72.8362,56.0115 72.8592,56.0335 72.8792,56.0545 L78.7712,70.9135 C78.7922,70.9555 78.7502,70.9975 78.7072,70.9975 L77.2872,70.9975 C77.2662,70.9975 77.2252,70.9755 77.2252,70.9555 L75.1682,65.6775 L69.1482,65.6775 L67.0082,70.9555 Z" id="Fill-28" fill="#FEFEFE"></path>
                    <path d="M83.3589,70.9337 L83.3589,56.0767 C83.3589,56.0337 83.3799,56.0117 83.4219,56.0117 L84.8199,56.0117 C84.8639,56.0117 84.8839,56.0337 84.8839,56.0767 L84.8839,63.5367 L90.7559,56.0337 L90.7989,56.0117 L92.3659,56.0117 C92.4299,56.0117 92.4519,56.0547 92.4089,56.1187 L86.6219,63.4527 L93.1509,70.8917 C93.2149,70.9547 93.1719,70.9967 93.1079,70.9967 L91.2439,70.9967 L91.2009,70.9757 L84.8839,63.7907 L84.8839,70.9337 C84.8839,70.9757 84.8639,70.9967 84.8199,70.9967 L83.4219,70.9967 C83.3799,70.9967 83.3589,70.9757 83.3589,70.9337" id="Fill-30" fill="#FEFEFE"></path>
                    <path d="M98.0127,70.9337 L98.0127,56.0767 C98.0127,56.0337 98.0337,56.0117 98.0767,56.0117 L99.5177,56.0117 C99.5587,56.0117 99.5817,56.0337 99.5817,56.0767 L99.5817,70.9337 C99.5817,70.9757 99.5587,70.9967 99.5177,70.9967 L98.0767,70.9967 C98.0337,70.9967 98.0127,70.9757 98.0127,70.9337" id="Fill-32" fill="#FEFEFE"></path>
                    <path d="M105.9654,70.9337 L105.9654,56.0767 C105.9654,56.0337 105.9864,56.0117 106.0294,56.0117 L107.6824,56.0117 C107.7034,56.0117 107.7244,56.0337 107.7244,56.0337 L116.3084,68.5597 L116.3084,56.0767 C116.3084,56.0337 116.3294,56.0117 116.3724,56.0117 L117.6234,56.0117 C117.6654,56.0117 117.6854,56.0337 117.6854,56.0767 L117.6854,70.9337 C117.6854,70.9757 117.6654,70.9967 117.6234,70.9967 L116.2674,70.9967 L116.2234,70.9757 L107.3424,57.9617 L107.3424,70.9337 C107.3424,70.9757 107.3214,70.9967 107.2784,70.9967 L106.0294,70.9967 C105.9864,70.9967 105.9654,70.9757 105.9654,70.9337" id="Fill-34" fill="#FEFEFE"></path>
                    <path d="M122.9097,63.7491 C122.9097,58.8951 126.0267,55.7151 129.9687,55.7151 C133.1907,55.7151 134.8437,57.3901 135.5427,59.7001 C135.5427,59.7221 135.5217,59.7421 135.4997,59.7641 L134.2067,60.3151 C134.1657,60.3361 134.1427,60.3151 134.1227,60.2521 C133.5287,58.3441 132.6177,57.1361 130.0527,57.1361 C126.1527,57.1361 124.4787,60.2291 124.4787,63.4941 C124.4787,67.2251 126.1527,69.8111 130.1377,69.8111 C133.2107,69.8111 134.2917,67.8601 134.2917,66.1231 L134.2917,64.2571 C134.2917,64.2151 134.3137,64.1931 134.3557,64.1931 L135.7547,64.1931 C135.7967,64.1931 135.8187,64.2151 135.8187,64.2571 L135.8187,70.9341 C135.8187,70.9761 135.7967,70.9971 135.7547,70.9971 L134.4197,70.9971 C134.3757,70.9971 134.3557,70.9761 134.3557,70.9341 L134.3557,69.4291 C133.3807,70.5101 132.4697,71.2301 129.9257,71.2301 C125.7297,71.2301 122.9097,68.2211 122.9097,63.7491" id="Fill-36" fill="#FEFEFE"></path>
                    <path d="M146.8316,63.4728 C146.8316,58.9798 149.7346,55.7148 153.6776,55.7148 C156.4966,55.7148 157.8956,56.7758 158.8076,57.7718 C158.8276,57.7928 158.8276,57.8348 158.8076,57.8568 L157.7886,58.8528 C157.7686,58.8948 157.7256,58.8728 157.7046,58.8528 C156.9846,58.0268 155.9866,57.1358 153.8036,57.1358 C150.7936,57.1358 148.4416,59.0008 148.4416,63.4728 C148.4416,67.1188 150.6246,69.8538 154.2486,69.8538 C156.0946,69.8538 157.2386,69.0898 157.9366,68.3268 C157.9576,68.3058 158.0006,68.2848 158.0216,68.3268 L158.9556,69.3658 C158.9766,69.3868 158.9766,69.4288 158.9556,69.4508 C157.7256,70.5518 156.4326,71.2728 154.0596,71.2728 C150.3506,71.2728 146.8316,68.3058 146.8316,63.4728" id="Fill-38" fill="#FEFEFE"></path>
                    <path d="M169.0103,58.1105 L166.4893,64.3415 L171.4473,64.3415 L169.0103,58.1105 Z M163.8173,70.9555 C163.8173,70.9755 163.7763,70.9975 163.7533,70.9975 L162.3973,70.9975 C162.3333,70.9975 162.3123,70.9555 162.3333,70.9135 L168.4593,56.0545 C168.4803,56.0335 168.5013,56.0115 168.5233,56.0115 L169.6243,56.0115 C169.6453,56.0115 169.6683,56.0335 169.6883,56.0545 L175.5803,70.9135 C175.6013,70.9555 175.5593,70.9975 175.5163,70.9975 L174.0963,70.9975 C174.0753,70.9975 174.0343,70.9755 174.0343,70.9555 L171.9773,65.6775 L165.9573,65.6775 L163.8173,70.9555 Z" id="Fill-40" fill="#FEFEFE"></path>
                    <path d="M185.233,57.3683 L181.673,57.3683 L181.673,63.3043 L185.085,63.3043 C187.311,63.3043 188.115,61.8193 188.115,60.4003 C188.115,58.8103 187.353,57.3683 185.233,57.3683 L185.233,57.3683 Z M181.693,70.9333 C181.693,70.9753 181.673,70.9973 181.629,70.9973 L180.232,70.9973 C180.189,70.9973 180.168,70.9753 180.168,70.9333 L180.168,56.0763 C180.168,56.0333 180.189,56.0123 180.232,56.0123 L185.445,56.0123 C187.437,56.0123 189.556,57.1783 189.556,60.4843 C189.556,62.4983 188.391,63.7273 186.93,64.3213 C187.204,64.8293 188.858,67.7553 189.769,69.4923 C190.088,70.1063 190.362,70.6163 190.575,70.8913 C190.638,70.9553 190.595,70.9973 190.531,70.9973 L188.858,70.9973 C188.837,70.9973 188.816,70.9753 188.794,70.9553 L185.509,64.6803 L181.693,64.6603 L181.693,70.9333 Z" id="Fill-42" fill="#FEFEFE"></path>
                    <path d="M204.5933,69.5773 C204.6363,69.5773 204.6573,69.5983 204.6573,69.6403 L204.6573,70.9333 C204.6573,70.9753 204.6363,70.9973 204.5933,70.9973 L195.4583,70.9973 C195.4153,70.9973 195.3943,70.9753 195.3943,70.9333 L195.3943,56.0763 C195.3943,56.0333 195.4153,56.0123 195.4583,56.0123 L204.0433,56.0123 C204.0843,56.0123 204.1053,56.0333 204.1053,56.0763 L204.1053,57.3483 C204.1053,57.3893 204.0843,57.4113 204.0433,57.4113 L196.9203,57.4543 L196.9203,62.9003 L201.8163,62.9433 C201.8603,62.9433 201.8803,62.9653 201.8803,63.0073 L201.8803,64.1933 C201.8803,64.2363 201.8603,64.2573 201.8163,64.2573 L196.9203,64.2783 L196.9203,69.5773 L204.5933,69.5773 Z" id="Fill-44" fill="#FEFEFE"></path>
                    <path d="M216.6226,63.5587 C216.6226,67.0977 218.9316,69.8737 222.5356,69.8737 C226.2236,69.8737 228.3226,67.2247 228.3226,63.5587 C228.3226,59.8067 225.7786,57.1357 222.5356,57.1357 C218.8056,57.1357 216.6226,59.5737 216.6226,63.5587 M215.0536,63.5587 C215.0536,58.7047 218.4246,55.7147 222.5356,55.7147 C226.7526,55.7147 229.8906,59.1697 229.8906,63.5587 C229.8906,67.9667 226.8176,71.2727 222.5356,71.2727 C217.8516,71.2727 215.0536,67.4797 215.0536,63.5587" id="Fill-46" fill="#FEFEFE"></path>
                    <path d="M241.1983,63.1974 C241.2403,63.1974 241.2603,63.2184 241.2603,63.2614 L241.2603,64.4484 C241.2603,64.4904 241.2403,64.5114 241.1983,64.5114 L236.6403,64.5534 L236.6403,70.9334 C236.6403,70.9754 236.6203,70.9974 236.5773,70.9974 L235.1783,70.9974 C235.1363,70.9974 235.1153,70.9754 235.1153,70.9334 L235.1153,56.0764 C235.1153,56.0334 235.1363,56.0114 235.1783,56.0114 L243.7623,56.0114 C243.8043,56.0114 243.8253,56.0334 243.8253,56.0764 L243.8253,57.3474 C243.8253,57.3894 243.8043,57.4114 243.7623,57.4114 L236.6403,57.4544 L236.6403,63.1344 L241.1983,63.1974 Z" id="Fill-48" fill="#FEFEFE"></path>
                    <path d="M259.0128,70.9337 L259.0128,64.2367 L252.9508,56.1187 C252.9078,56.0547 252.9288,56.0117 252.9928,56.0117 L254.6048,56.0117 L254.6468,56.0337 L259.7958,62.9647 L264.8208,56.0337 C264.8208,56.0337 264.8408,56.0117 264.8638,56.0117 L266.3038,56.0117 C266.3678,56.0117 266.3888,56.0547 266.3458,56.1187 L260.5378,64.1087 L260.5378,70.9337 C260.5378,70.9757 260.5178,70.9967 260.4748,70.9967 L259.0758,70.9967 C259.0338,70.9967 259.0128,70.9757 259.0128,70.9337" id="Fill-50" fill="#FEFEFE"></path>
                    <path d="M270.6573,63.5587 C270.6573,67.0977 272.9683,69.8737 276.5713,69.8737 C280.2603,69.8737 282.3563,67.2247 282.3563,63.5587 C282.3563,59.8067 279.8143,57.1357 276.5713,57.1357 C272.8403,57.1357 270.6573,59.5737 270.6573,63.5587 M269.0883,63.5587 C269.0883,58.7047 272.4593,55.7147 276.5713,55.7147 C280.7893,55.7147 283.9253,59.1697 283.9253,63.5587 C283.9253,67.9667 280.8513,71.2727 276.5713,71.2727 C271.8863,71.2727 269.0883,67.4797 269.0883,63.5587" id="Fill-52" fill="#FEFEFE"></path>
                    <g id="Group-56" transform="translate(288.000000, 55.272800)">
                        <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                        <g id="Clip-55"></g>
                        <path d="M0.8751,10.4471 L0.8751,0.8031 C0.8751,0.7601 0.8961,0.7391 0.9381,0.7391 L2.3371,0.7391 C2.3801,0.7391 2.4001,0.7601 2.4001,0.8031 L2.4001,10.5531 C2.4001,13.2241 4.0331,14.6231 6.2581,14.6231 C8.5891,14.6231 10.2641,13.3731 10.2641,10.9131 L10.2641,0.8031 C10.2641,0.7601 10.2861,0.7391 10.3271,0.7391 L11.7271,0.7391 C11.7691,0.7391 11.7911,0.7601 11.7911,0.8031 L11.7911,10.7021 C11.7911,13.5631 9.8411,16.0001 6.4061,16.0001 C2.8661,16.0001 0.8751,13.7321 0.8751,10.4471" id="Fill-54" fill="#FEFEFE" mask="url(#mask-4)"></path>
                    </g>
                    <path d="M310.8633,57.3683 L307.3013,57.3683 L307.3013,63.3043 L310.7153,63.3043 C312.9393,63.3043 313.7463,61.8193 313.7463,60.4003 C313.7463,58.8103 312.9823,57.3683 310.8633,57.3683 L310.8633,57.3683 Z M307.3243,70.9333 C307.3243,70.9753 307.3013,70.9973 307.2593,70.9973 L305.8603,70.9973 C305.8193,70.9973 305.7973,70.9753 305.7973,70.9333 L305.7973,56.0763 C305.7973,56.0333 305.8193,56.0123 305.8603,56.0123 L311.0743,56.0123 C313.0673,56.0123 315.1863,57.1783 315.1863,60.4843 C315.1863,62.4983 314.0213,63.7273 312.5583,64.3213 C312.8343,64.8293 314.4883,67.7553 315.3993,69.4923 C315.7173,70.1063 315.9933,70.6163 316.2033,70.8913 C316.2673,70.9553 316.2253,70.9973 316.1623,70.9973 L314.4883,70.9973 C314.4663,70.9973 314.4443,70.9753 314.4243,70.9553 L311.1373,64.6803 L307.3243,64.6603 L307.3243,70.9333 Z" id="Fill-57" fill="#FEFEFE"></path>
                    <path d="M328.8897,70.9337 C328.8897,70.9757 328.8687,70.9967 328.8267,70.9967 L327.4277,70.9967 C327.3847,70.9967 327.3647,70.9757 327.3647,70.9337 L327.3647,56.0767 C327.3647,56.0337 327.3847,56.0117 327.4277,56.0117 L328.8267,56.0117 C328.8687,56.0117 328.8897,56.0337 328.8897,56.0767 L328.8897,62.9647 L337.3467,62.9647 L337.3467,56.0767 C337.3467,56.0337 337.3687,56.0117 337.4107,56.0117 L338.8097,56.0117 C338.8517,56.0117 338.8737,56.0337 338.8737,56.0767 L338.8737,70.9337 C338.8737,70.9757 338.8517,70.9967 338.8097,70.9967 L337.4107,70.9967 C337.3687,70.9967 337.3467,70.9757 337.3467,70.9337 L337.3467,64.3637 L328.8897,64.3637 L328.8897,70.9337 Z" id="Fill-59" fill="#FEFEFE"></path>
                    <path d="M345.6651,63.5587 C345.6651,67.0977 347.9761,69.8737 351.5791,69.8737 C355.2681,69.8737 357.3641,67.2247 357.3641,63.5587 C357.3641,59.8067 354.8221,57.1357 351.5791,57.1357 C347.8491,57.1357 345.6651,59.5737 345.6651,63.5587 M344.0971,63.5587 C344.0971,58.7047 347.4671,55.7147 351.5791,55.7147 C355.7981,55.7147 358.9341,59.1697 358.9341,63.5587 C358.9341,67.9667 355.8591,71.2727 351.5791,71.2727 C346.8941,71.2727 344.0971,67.4797 344.0971,63.5587" id="Fill-61" fill="#FEFEFE"></path>
                    <path d="M364.1573,70.9337 L364.1573,56.0767 C364.1573,56.0337 364.1793,56.0117 364.2213,56.0117 L365.8753,56.0117 C365.8953,56.0117 365.9183,56.0337 365.9383,56.0547 L371.7253,67.6487 L377.3843,56.0547 C377.4053,56.0337 377.4263,56.0117 377.4483,56.0117 L379.1423,56.0117 C379.1853,56.0117 379.2073,56.0337 379.2073,56.0767 L379.2073,70.9337 C379.2073,70.9757 379.1853,70.9967 379.1423,70.9967 L377.8293,70.9967 C377.7863,70.9967 377.7653,70.9757 377.7653,70.9337 L377.7653,58.3017 L371.7893,70.3197 C371.7043,70.4897 371.5973,70.4897 371.5123,70.3197 L365.6003,58.5557 L365.6003,70.9337 C365.6003,70.9757 365.5783,70.9967 365.5363,70.9967 L364.2213,70.9967 C364.1793,70.9967 364.1573,70.9757 364.1573,70.9337" id="Fill-63" fill="#FEFEFE"></path>
                    <path d="M394.6905,69.5773 C394.7345,69.5773 394.7545,69.5983 394.7545,69.6403 L394.7545,70.9333 C394.7545,70.9753 394.7345,70.9973 394.6905,70.9973 L385.5555,70.9973 C385.5125,70.9973 385.4925,70.9753 385.4925,70.9333 L385.4925,56.0763 C385.4925,56.0333 385.5125,56.0123 385.5555,56.0123 L394.1405,56.0123 C394.1815,56.0123 394.2025,56.0333 394.2025,56.0763 L394.2025,57.3483 C394.2025,57.3893 394.1815,57.4113 394.1405,57.4113 L387.0175,57.4543 L387.0175,62.9003 L391.9145,62.9433 C391.9575,62.9433 391.9775,62.9653 391.9775,63.0073 L391.9775,64.1933 C391.9775,64.2363 391.9575,64.2573 391.9145,64.2573 L387.0175,64.2783 L387.0175,69.5773 L394.6905,69.5773 Z" id="Fill-65" fill="#FEFEFE"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
<svg class="fixed-logo" width="447px" height="33px" viewBox="0 0 447 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
    <title>zzzzz</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.7926 0.7893 25.494 0.7893 25.494 31.5743 0.7926 31.5743"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="zzzzz">
            <path d="M0,26.1491 C0,26.0601 0,25.9721 0.045,25.9721 L4.152,22.9681 C4.24,22.9241 4.328,22.9241 4.373,22.9681 C6.096,25.6631 9.011,27.0331 11.925,27.0331 C14.487,27.0331 15.812,25.3091 15.812,23.5431 C15.812,21.6441 14.576,19.9201 10.999,18.6401 C5.212,16.6071 1.767,13.9581 1.767,8.6131 C1.767,3.4451 5.699,0.0001 10.866,0.0001 C15.947,0.0001 19.17,2.7381 21.114,5.4331 C21.159,5.4771 21.159,5.5651 21.114,5.6101 L17.313,8.7461 C17.271,8.7901 17.183,8.7901 17.138,8.7461 C15.548,6.8901 13.517,5.4771 11.042,5.4771 C8.79,5.4771 7.552,6.9341 7.552,9.0101 C7.552,10.9101 9.274,11.9251 12.764,13.0741 C18.287,14.8851 21.466,18.2861 21.466,22.9681 C21.466,27.8711 18.375,32.4201 11.042,32.4201 C5.257,32.4201 1.812,29.0641 0,26.1491" id="Fill-1" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M28.7627,6.3605 C28.6727,6.3605 28.6277,6.3165 28.6277,6.2275 L28.6277,0.7505 C28.6277,0.6625 28.6727,0.6175 28.7627,0.6175 L56.5907,0.6175 C56.6787,0.6175 56.7207,0.6625 56.7207,0.7505 L56.7207,6.2275 C56.7207,6.3165 56.6787,6.3605 56.5907,6.3605 L45.6797,6.4485 L45.6797,31.7145 C45.6797,31.8025 45.6347,31.8465 45.5467,31.8465 L39.7597,31.8465 C39.6717,31.8465 39.6287,31.8025 39.6287,31.7145 L39.6287,6.4485 L28.7627,6.3605 Z" id="Fill-3" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M77.4898,5.963 L71.3948,5.963 L71.3948,14.179 L76.5618,14.179 C79.6098,14.179 81.5528,12.898 81.5528,10.159 C81.5528,8.437 80.6688,5.963 77.4898,5.963 L77.4898,5.963 Z M71.3048,31.714 C71.3048,31.803 71.2608,31.847 71.1738,31.847 L65.6508,31.847 C65.5648,31.847 65.5198,31.803 65.5198,31.714 L65.5198,0.751 C65.5198,0.663 65.5648,0.618 65.6508,0.618 L78.4618,0.618 C81.0678,0.618 87.4278,2.164 87.4278,10.468 C87.4278,14.002 85.3528,16.962 82.2158,18.11 C82.7468,19.082 85.9258,25.089 87.7818,28.711 C88.4868,30.125 89.1068,31.052 89.5488,31.626 C89.6808,31.759 89.5918,31.847 89.4608,31.847 L82.3048,31.847 C82.2608,31.847 82.2158,31.803 82.1728,31.759 L76.7818,20.141 L71.3048,20.097 L71.3048,31.714 Z" id="Fill-5" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M120.917,26.1051 C121.005,26.1051 121.05,26.1491 121.05,26.2371 L121.05,31.7141 C121.05,31.8031 121.005,31.8471 120.917,31.8471 L99.229,31.8471 C99.142,31.8471 99.098,31.8031 99.098,31.7141 L99.098,0.7501 C99.098,0.6631 99.142,0.6181 99.229,0.6181 L119.77,0.6181 C119.857,0.6181 119.901,0.6631 119.901,0.7501 L119.901,6.1841 C119.901,6.2711 119.857,6.3161 119.77,6.3161 L105.148,6.4041 L105.148,13.6931 L115.352,13.8251 C115.441,13.8251 115.484,13.8701 115.484,13.9581 L115.484,19.2581 C115.484,19.3471 115.441,19.3911 115.352,19.3911 L105.148,19.4791 L105.148,26.1051 L120.917,26.1051 Z" id="Fill-7" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M128.126,6.3605 C128.036,6.3605 127.991,6.3165 127.991,6.2275 L127.991,0.7505 C127.991,0.6625 128.036,0.6175 128.126,0.6175 L155.954,0.6175 C156.042,0.6175 156.084,0.6625 156.084,0.7505 L156.084,6.2275 C156.084,6.3165 156.042,6.3605 155.954,6.3605 L145.043,6.4485 L145.043,31.7145 C145.043,31.8025 144.998,31.8465 144.91,31.8465 L139.123,31.8465 C139.035,31.8465 138.992,31.8025 138.992,31.7145 L138.992,6.4485 L128.126,6.3605 Z" id="Fill-9" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M161.2173,16.1661 C161.2173,8.4801 166.3843,0.0001 176.9843,0.0001 C183.8323,0.0001 187.4533,3.1361 188.6463,4.8141 C188.6913,4.8581 188.6913,4.9471 188.6463,4.9911 L184.7593,9.1441 C184.7163,9.2311 184.6263,9.1871 184.5813,9.1441 C183.4343,7.4651 180.6523,5.4771 177.2953,5.4771 C171.5083,5.4771 167.6653,9.1441 167.6653,16.1661 C167.6653,23.3221 172.1263,27.0331 177.7793,27.0331 C181.9323,27.0331 184.4053,24.6031 185.2443,23.4991 C185.2893,23.4541 185.3793,23.4101 185.4223,23.4991 L188.9113,27.6941 C188.9543,27.7391 188.9543,27.8271 188.9113,27.8711 C186.6143,30.3451 182.9483,32.4651 177.1193,32.4651 C168.8143,32.4651 161.2173,26.8551 161.2173,16.1661" id="Fill-11" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M204.2041,31.714 C204.2041,31.803 204.1601,31.847 204.0701,31.847 L198.2851,31.847 C198.1951,31.847 198.1521,31.803 198.1521,31.714 L198.1521,0.751 C198.1521,0.663 198.1951,0.618 198.2851,0.618 L204.0701,0.618 C204.1601,0.618 204.2041,0.663 204.2041,0.751 L204.2041,13.693 L218.9561,13.693 L218.9561,0.751 C218.9561,0.663 219.0001,0.618 219.0881,0.618 L224.8751,0.618 C224.9631,0.618 225.0081,0.663 225.0081,0.751 L225.0081,31.714 C225.0081,31.803 224.9631,31.847 224.8751,31.847 L219.0881,31.847 C219.0001,31.847 218.9561,31.803 218.9561,31.714 L218.9561,19.479 L204.2041,19.479 L204.2041,31.714 Z" id="Fill-13" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M267.7325,6.671 C267.7325,5.262 267.3505,4.097 266.5895,3.176 C265.8275,2.256 264.8845,1.796 263.7625,1.796 C262.6275,1.796 261.7175,2.202 261.0345,3.015 C260.3505,3.827 260.0085,4.895 260.0085,6.218 C260.0085,7.268 260.2715,8.325 260.7955,9.389 C261.3225,10.454 262.2325,11.755 263.5265,13.294 C264.9205,12.359 265.9705,11.339 266.6755,10.231 C267.3795,9.124 267.7325,7.937 267.7325,6.671 L267.7325,6.671 Z M269.5015,26.324 L261.1105,15.947 C259.3985,16.624 258.1215,17.476 257.2805,18.505 C256.4385,19.532 256.0195,20.737 256.0195,22.117 C256.0195,24.102 256.6475,25.778 257.9055,27.144 C259.1655,28.511 260.7435,29.193 262.6405,29.193 C263.9925,29.193 265.2295,28.96 266.3515,28.492 C267.4735,28.025 268.5225,27.303 269.5015,26.324 L269.5015,26.324 Z M284.3865,27.64 C283.2355,29.208 282.1035,30.373 280.9885,31.135 C279.8755,31.897 278.7705,32.278 277.6785,32.278 C276.3115,32.278 275.1825,31.99 274.2905,31.416 C273.3985,30.841 272.0965,29.51 270.3865,27.424 C268.6745,29.216 267.0915,30.472 265.6405,31.194 C264.1875,31.917 262.5975,32.278 260.8725,32.278 C258.3995,32.278 256.3455,31.456 254.7125,29.81 C253.0825,28.165 252.2655,26.083 252.2655,23.563 C252.2655,21.553 252.9565,19.791 254.3365,18.276 C255.7165,16.763 257.6795,15.62 260.2245,14.847 C258.9605,13.582 258.0175,12.345 257.3995,11.137 C256.7805,9.929 256.4715,8.735 256.4715,7.556 C256.4715,5.586 257.2085,3.913 258.6815,2.541 C260.1575,1.167 261.8645,0.48 263.8055,0.48 C265.7335,0.48 267.3475,1.051 268.6485,2.195 C269.9525,3.338 270.6025,4.751 270.6025,6.434 C270.6025,8.017 270.0945,9.441 269.0805,10.705 C268.0675,11.971 266.5105,13.13 264.4105,14.179 L272.1555,23.671 C273.7095,21.845 274.9415,20.033 275.8545,18.234 C276.7685,16.437 277.2245,15.013 277.2245,13.963 C277.2245,13.259 276.9885,12.748 276.5135,12.431 C276.0395,12.115 275.2475,11.957 274.1405,11.957 L274.1405,11.007 C275.1605,11.131 276.0825,11.234 276.9015,11.316 C277.7215,11.398 278.4195,11.439 278.9935,11.439 C279.6275,11.439 280.2585,11.415 280.8915,11.367 C281.5255,11.319 282.5105,11.199 283.8485,11.007 L283.8485,11.957 C282.7405,11.957 281.8945,12.14 281.3125,12.507 C280.7295,12.873 280.1085,13.726 279.4475,15.063 C278.3535,17.235 277.2635,19.144 276.1785,20.791 C275.0925,22.438 274.0455,23.765 273.0395,24.771 C274.6065,26.598 275.8105,27.791 276.6535,28.352 C277.4935,28.913 278.4255,29.193 279.4475,29.193 C280.1655,29.193 280.8375,29.032 281.4625,28.708 C282.0895,28.385 282.8125,27.813 283.6325,26.993 L284.3865,27.64 Z" id="Fill-15" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M325.0665,24.2965 L331.2965,10.1445 L331.5555,9.5625 C333.6095,4.9175 334.6375,2.1705 334.6375,1.3205 C334.6375,1.2925 334.6305,1.2495 334.6155,1.1915 C334.6015,1.1345 334.5945,1.0915 334.5945,1.0625 C335.4425,1.1055 336.2085,1.1375 336.8895,1.1595 C337.5735,1.1805 338.1795,1.1915 338.7125,1.1915 C339.2145,1.1915 339.7975,1.1805 340.4595,1.1595 C341.1205,1.1375 341.8465,1.1055 342.6365,1.0625 L342.6365,2.5505 L342.3785,2.5505 C341.1275,2.5505 340.2675,2.7665 339.7995,3.1975 C339.3345,3.6295 339.0985,4.3995 339.0985,5.5065 C339.0985,5.9375 339.1285,6.9015 339.1855,8.3975 C339.2445,9.8935 339.3145,11.5115 339.4015,13.2515 L339.7685,19.3135 L339.7895,19.8955 C340.1055,25.2755 340.3505,28.3165 340.5225,29.0205 C340.6095,29.4385 340.8755,29.7615 341.3225,29.9915 C341.7675,30.2215 342.3485,30.3365 343.0685,30.3365 L343.6085,30.3365 L343.6085,31.8465 C342.4715,31.7895 341.4155,31.7465 340.4405,31.7175 C339.4625,31.6895 338.6545,31.6745 338.0095,31.6745 C337.2525,31.6745 336.3995,31.6895 335.4525,31.7175 C334.5035,31.7465 333.4905,31.7895 332.4115,31.8465 L332.4115,30.2935 C332.5415,30.2935 332.7075,30.3015 332.9085,30.3155 C333.1085,30.3295 333.2545,30.3365 333.3395,30.3365 C334.4325,30.3365 335.1915,30.1425 335.6145,29.7545 C336.0395,29.3655 336.2515,28.6615 336.2515,27.6405 C336.2515,27.1655 336.2445,26.6985 336.2305,26.2375 C336.2145,25.7775 336.1945,25.3035 336.1655,24.8145 L335.3245,6.2615 L326.4795,26.6045 C326.4635,26.6335 326.4365,26.6985 326.3935,26.7985 C325.7035,28.2225 325.1925,29.7405 324.8615,31.3505 L323.4375,31.3505 C323.2355,30.4595 322.7335,29.0935 321.9265,27.2515 L321.8405,27.0575 L313.1475,7.3615 C313.0615,8.9005 312.9385,11.0155 312.7805,13.7045 C312.3785,20.3785 312.1755,24.5555 312.1755,26.2375 L312.1755,26.4535 C312.1755,28.2805 312.3815,29.3835 312.7905,29.7655 C313.2015,30.1465 314.0385,30.3365 315.3045,30.3365 L315.7565,30.3365 L315.7565,31.8465 C314.8215,31.7895 313.9275,31.7465 313.0715,31.7175 C312.2155,31.6895 311.3855,31.6745 310.5805,31.6745 C310.0045,31.6745 309.2895,31.6895 308.4325,31.7175 C307.5785,31.7465 306.6605,31.7895 305.6835,31.8465 L305.6835,30.3365 L306.2875,30.3365 C307.1075,30.3365 307.7175,30.2365 308.1205,30.0345 C308.5225,29.8335 308.8395,29.4815 309.0695,28.9775 C309.3415,28.3885 309.6235,26.0005 309.9125,21.8155 C309.9825,20.6655 310.0475,19.7525 310.1055,19.0755 L310.4935,13.8555 L310.4935,13.7905 C310.8815,8.6275 311.0775,5.6935 311.0775,4.9885 C311.0775,4.0825 310.8575,3.4495 310.4175,3.0895 C309.9795,2.7315 309.1485,2.5505 307.9265,2.5505 L307.5825,2.5505 L307.5825,1.0625 C307.6955,1.0625 307.8835,1.0695 308.1425,1.0835 C309.8095,1.1845 310.9745,1.2345 311.6375,1.2345 C312.1395,1.2345 313.0955,1.1915 314.5055,1.1055 C314.9515,1.0765 315.2895,1.0625 315.5205,1.0625 L315.5205,1.1915 C315.5205,2.4725 317.9565,8.5125 322.8265,19.3135 L325.0665,24.2965 Z" id="Fill-17" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M376.6378,17.0909 C376.6378,12.9059 375.5598,9.4719 373.4018,6.7899 C371.2438,4.1079 368.5268,2.7669 365.2468,2.7669 C362.0978,2.7669 359.5698,3.9179 357.6638,6.2179 C355.7588,8.5199 354.8058,11.5979 354.8058,15.4509 C354.8058,19.7369 355.8878,23.2539 358.0518,26.0009 C360.2168,28.7479 362.9238,30.1209 366.1738,30.1209 C369.3098,30.1209 371.8368,28.9379 373.7568,26.5729 C375.6768,24.2069 376.6378,21.0469 376.6378,17.0909 M365.7218,0.3499 C367.9068,0.3499 369.8608,0.6629 371.5768,1.2889 C373.2968,1.9139 374.8538,2.8819 376.2488,4.1909 C377.9168,5.7729 379.1938,7.6069 380.0768,9.6919 C380.9628,11.7769 381.4048,13.9919 381.4048,16.3359 C381.4048,18.7239 380.9368,20.9819 380.0028,23.1099 C379.0678,25.2379 377.7378,27.0719 376.0118,28.6109 C374.6308,29.8479 373.0238,30.8149 371.1898,31.5119 C369.3568,32.2099 367.5188,32.5589 365.6788,32.5589 C363.3758,32.5589 361.2588,32.1339 359.3248,31.2859 C357.3918,30.4379 355.6828,29.1799 354.2018,27.5109 C352.8488,25.9869 351.8168,24.2749 351.1058,22.3769 C350.3928,20.4779 350.0368,18.4799 350.0368,16.3789 C350.0368,14.1069 350.4658,11.9599 351.3218,9.9389 C352.1778,7.9189 353.4168,6.1469 355.0418,4.6219 C356.5098,3.2409 358.1628,2.1839 360.0038,1.4509 C361.8458,0.7169 363.7508,0.3499 365.7218,0.3499" id="Fill-19" fill="#FEFEFE" fill-rule="nonzero"></path>
            <path d="M395.5801,16.6378 C396.2701,16.7108 396.9221,16.7608 397.5321,16.7888 C398.1431,16.8188 398.6861,16.8318 399.1611,16.8318 C399.5631,16.8318 400.0241,16.8218 400.5421,16.7998 C401.0591,16.7788 401.6211,16.7388 402.2251,16.6808 C403.6051,15.8468 404.6191,14.8798 405.2661,13.7788 C405.9131,12.6798 406.2371,11.3668 406.2371,9.8428 C406.2371,7.8438 405.5911,6.2398 404.2961,5.0318 C403.0021,3.8238 401.2601,3.2198 399.0751,3.2198 C398.4851,3.2198 397.9101,3.2448 397.3501,3.2948 C396.7891,3.3458 396.2341,3.4218 395.6871,3.5218 C395.6441,5.3048 395.6151,7.1388 395.6011,9.0228 C395.5881,10.9078 395.5801,13.4448 395.5801,16.6378 L395.5801,16.6378 Z M387.9001,30.4448 C388.0011,30.4588 388.0981,30.4698 388.1921,30.4768 C388.2851,30.4848 388.4251,30.4878 388.6111,30.4878 C390.5231,30.4878 391.4951,27.7988 391.5241,22.4198 C391.5391,21.0678 391.5531,20.0108 391.5681,19.2478 L391.6541,13.3588 C391.6681,12.0938 391.6791,10.8648 391.6871,9.6698 C391.6941,8.4768 391.6971,7.1818 391.6971,5.7868 C391.6971,4.5508 391.4661,3.6938 391.0071,3.2198 C390.5461,2.7448 389.7261,2.5078 388.5481,2.5078 L388.3751,2.5078 L388.3751,0.9978 C389.3381,1.0698 390.2911,1.1198 391.2331,1.1488 C392.1761,1.1778 393.0921,1.1918 393.9841,1.1918 C394.9471,1.1918 396.1441,1.1598 397.5751,1.0948 C399.0061,1.0308 399.9591,0.9978 400.4341,0.9978 C403.3811,0.9978 405.7981,1.7738 407.6821,3.3268 C409.5661,4.8808 410.5091,6.8298 410.5091,9.1738 C410.5091,10.9138 410.0381,12.4638 409.0961,13.8228 C408.1531,15.1818 406.7401,16.3438 404.8561,17.3068 L408.8911,23.4118 C409.0331,23.6418 409.2491,23.9728 409.5371,24.4048 C412.3281,28.6618 414.6151,30.7898 416.3971,30.7898 L416.6131,30.7898 L416.6131,32.0198 C416.4111,32.0338 416.1091,32.0628 415.7071,32.1058 C414.7711,32.1918 414.0901,32.2348 413.6581,32.2348 C412.1331,32.2348 410.9301,32.0298 410.0451,31.6208 C409.1611,31.2098 408.2861,30.4158 407.4231,29.2368 C407.2801,29.0498 406.4861,27.7698 405.0401,25.3968 C403.5961,23.0238 402.1391,20.7878 400.6721,18.6868 C400.1251,18.7448 399.5411,18.7878 398.9241,18.8168 C398.3061,18.8458 397.6221,18.8598 396.8751,18.8598 L395.5801,18.8598 L395.5801,25.4828 C395.5801,27.6398 395.8031,29.0028 396.2481,29.5708 C396.6931,30.1388 397.5791,30.4228 398.9021,30.4228 C398.9461,30.4228 399.0031,30.4158 399.0751,30.4018 C399.1461,30.3878 399.2051,30.3798 399.2481,30.3798 C399.3051,30.3798 399.3511,30.3878 399.3881,30.4018 C399.4241,30.4158 399.4481,30.4228 399.4641,30.4228 L399.4641,31.8468 C398.4421,31.7898 397.4271,31.7468 396.4211,31.7178 C395.4151,31.6888 394.4161,31.6748 393.4231,31.6748 C392.8901,31.6748 392.1421,31.6888 391.1801,31.7178 C390.2151,31.7468 389.1221,31.7898 387.9001,31.8468 L387.9001,30.4448 Z" id="Fill-21" fill="#FEFEFE" fill-rule="nonzero"></path>
            <g id="Group-25" transform="translate(421.000000, 0.272800)">
                <g id="Fill-23-Clipped">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="path-1"></g>
                    <path d="M1.2676,0.7893 C3.7836,0.8753 6.0356,0.9403 8.0206,0.9833 C10.0046,1.0263 11.7146,1.0483 13.1546,1.0483 C14.7506,1.0483 16.3646,1.0263 17.9966,0.9833 C19.6296,0.9403 21.2876,0.8753 22.9696,0.7893 C22.9836,1.8683 23.0266,2.9723 23.0986,4.1003 C23.1716,5.2303 23.2576,6.3633 23.3576,7.4983 L21.9136,7.6283 C21.7976,5.9023 21.2656,4.7333 20.3166,4.1223 C19.3676,3.5113 17.3176,3.2063 14.1676,3.2063 C13.3616,3.2063 11.8876,3.2273 9.7466,3.2703 C9.3146,3.2853 8.9966,3.2913 8.7966,3.2913 C8.7676,5.0183 8.7246,7.1323 8.6676,9.6343 C8.6086,12.1373 8.5726,13.7623 8.5586,14.5103 L9.2286,14.5103 C10.0766,14.5103 11.1366,14.5213 12.4096,14.5413 C13.6826,14.5643 14.5356,14.5743 14.9666,14.5743 C17.0516,14.5743 18.4286,14.3803 19.0966,13.9923 C19.7666,13.6033 20.1286,12.8853 20.1876,11.8343 L21.5456,11.9643 C21.4456,12.8563 21.3706,13.6833 21.3196,14.4453 C21.2696,15.2073 21.2446,15.9123 21.2446,16.5593 C21.2446,16.9343 21.2806,17.7393 21.3526,18.9753 C21.3796,19.4213 21.4026,19.7603 21.4156,19.9893 L20.0146,20.0323 L20.0146,19.8603 C20.0146,18.6383 19.6576,17.8103 18.9466,17.3793 C18.2336,16.9473 16.5706,16.7313 13.9526,16.7313 L10.1126,16.7313 L8.5586,16.7313 C8.5586,17.4363 8.5516,18.4113 8.5386,19.6553 C8.5226,20.8983 8.5156,21.7943 8.5156,22.3403 C8.5156,23.2903 8.5226,24.2793 8.5386,25.3073 C8.5516,26.3353 8.5806,27.5403 8.6236,28.9203 C9.3426,29.0073 10.1586,29.0713 11.0716,29.1143 C11.9866,29.1583 12.9896,29.1793 14.0806,29.1793 C17.6916,29.1793 20.0686,28.8313 21.2106,28.1323 C22.3556,27.4353 23.2646,26.0943 23.9416,24.1093 L25.4946,24.6273 C25.0626,25.8223 24.6816,26.9943 24.3506,28.1443 C24.0186,29.2953 23.7326,30.4383 23.4876,31.5743 C21.2296,31.4873 19.1296,31.4233 17.1876,31.3803 C15.2466,31.3363 13.4916,31.3153 11.9236,31.3153 C9.7806,31.3153 6.3296,31.3943 1.5696,31.5523 L0.7926,31.5743 L0.7926,30.1713 C0.8926,30.1863 0.9916,30.1973 1.0836,30.2043 C1.1776,30.2113 1.3176,30.2153 1.5046,30.2153 C3.4176,30.2153 4.3876,27.5263 4.4166,22.1463 C4.4306,20.7953 4.4466,19.7383 4.4596,18.9753 L4.5456,13.0863 C4.5596,11.8213 4.5726,10.5913 4.5796,9.3973 C4.5856,8.2043 4.5886,6.9093 4.5886,5.5143 C4.5886,4.2773 4.3596,3.4213 3.8996,2.9463 C3.4386,2.4723 2.6186,2.2343 1.4396,2.2343 L1.2676,2.2343 L1.2676,0.7893 Z" id="Fill-23" fill="#FEFEFE" fill-rule="nonzero" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
