// Non-modular or client styles for .l-footer region.
footer#footer {
  // @include flex-grid-row();
  // flex-direction: column-reverse;
  // align-items: center;
  // padding: 30px 0;
  // @include breakpoint(mediumplus) {
  //   flex-direction: row;
  // }

  // .region {
  //   @include grid-col-gutter();
  //   width: 100%;
  //   margin-bottom: 30px;
  //   @include breakpoint(mediumplus){
  //     width: auto;
  //     margin-bottom: 0;
  //     @include flex-grid-column(1 of 3);
  //   }
  // }

  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(mediumplus) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(mediumplus) {
        padding-right: 30px;
      }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-start;
      }
    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: center;
    @include breakpoint(mediumplus){
      justify-content: flex-start;
      flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
      a {
        font-size: 14px;
        @include breakpoint(mediumplus){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;
}

#footer-wrapper {
  background-color: $black;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  @include row-container;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  #footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $white;
    .region {
      width: 100%;
      .block-sitebranding {
        a {
          svg {
            max-width: 205px;
            max-height: 33px;
            @include breakpoint(mediumplus) {
              max-width: 400px;
              height: 72px;
            }
          }
        }
        .fixed-logo {
          display: none;
        }
      }
    }
    .region-footer_middle {
      padding-top: 30px;
      .block-contact {
        display: block;
        .field-block-content--field-company-name {
          display: none;
          font-size: 20px;
          font-family: $body-font-family;
          font-weight: 300;
          letter-spacing: 0.5px;
        }
        .field-block-content--field-branches {
          display: none;
          .paragraph--type--branch {
            display: block;
            .base-contact-fields {
              padding: 0px;
              p {
                display: inline-block;
                font-size: 20px;
                font-family: $body-font-family;
                font-weight: 300;
                letter-spacing: 0.5px;
                padding: 0 4px;
              }
            }
          }
        }
        .main-contact-data {
          width: 100%;
          display: block;
          padding-top: 10px;
          .field-block-content--field-extra-main-contact-fields {
            .field-items {
              @include breakpoint(mediumplus) {
                display: flex;
                justify-content: center;
                .field-item {
                  &:nth-child(even) {
                    .paragraph--type--contact-field {
                      padding: 0 5px;
                      display: inline-block;
                      &:before {
                        width: 12px;
                        height: 1px;
                        background-color: $white;
                        display: inline-block;
                        vertical-align: middle;
                        content: "";
                        margin: 0 5px;
                      }
                    }
                  }
                }
              }
              p {
                display: inline-block;
                font-size: 20px;
                font-family: $body-font-family;
                font-weight: 300;
                letter-spacing: 0.5px;
                a {
                  color: $white;
                  @include transition(0.35s);
                  &:hover, &:focus {
                    color: $light-gray;
                  }
                }
              }
            }
          }
        }
      }
    }
    .block-social {
      ul.linkicon {
        justify-content: center;
        padding-top: 40px;
        @include breakpoint(mediumplus) {
          padding-top: 18px;
        }
        li {
          line-height: 1;
          a {
            font-size: 24px;
            color: $white;
            margin: 0 10px;
            font-weight: $global-weight-bold;
            @include transition(0.35s);
            &:hover, &:focus {
              color: $light-gray;
            }
          }
        }
      }
    }
    .block-base-footer {
      padding-top: 40px;
      @include breakpoint(mediumplus) {
        padding-top: 70px;
      }
      ul.menu {
        justify-content: center;
        @include breakpoint(mediumplus) {
          flex-direction: row;
        }
        li {
          @include breakpoint(medium down) {
            padding-bottom: 2px;
          }
          a {
            padding: 0px;
            color: $light-gray;
            font-size: 18px;
            text-transform: lowercase;
            font-weight: 300;
            @include transition(0.35s);
            text-decoration: underline;
            &:hover, &:focus {
              color: $white;
            }
            &:after {
              content: "/";
              display: inline-block;
              color: $light-gray;
              margin: 0 5px;
              @include breakpoint(mediumplus) {
                margin: 0 15px;
              }
            }
          }
          &:last-child {
            a {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

