
.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {
  @include grid-col-gutter();
}

.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a {
        color: $body-font-color;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
        transition: color .25s ease-out;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: none;
            background-color: $body-font-color;
            height: 2px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        &.is-active {
          &>span {
            &:after {
              display: block;
            }
          }
        }
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}


#header-wrapper {
  @include transition(0.6s);
  #header {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 60px;
    z-index: 9;
    right: 0px;
    @include transition(0.35s);
    @include breakpoint(mediumplus) {
      top: 80px;
    }
    .region-header {
      .block-base-branding {
        padding: 0px;
        a {
          display: inline-block;
          svg {
            max-width: 205px;
            max-height: 33px;
            @include breakpoint(mediumplus) {
              max-width: 273px;
              max-height: 44px;
            }
          }
          .fixed-logo {
            display: none;
          }
        }
      }
      .block-nav-toggle {
        padding: 0px;
        width: 26px;
        height: 26px;
        button {
          div#icon3 {
            width: 26px;
            height: 26px;
            margin: 0px;
            span {
              background: $white;
            }
          }
        }
      }
    }
  }
}

.fixed {
  @include transition(0.6s);
  #header-wrapper {
    background-color: $black;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 15px 0px;
    height: auto;
    @include transition(0.5s);
    z-index: 999;
    #header {
      position: static;
      @include transition(0.5s);
      .block-base-branding {
        margin-top: 5px;
      }
      .main-logo {
        display: none;
      }
      .fixed-logo {
        display: block !important;
      }
      // .block-nav-toggle {
      //   position: absolute;
      //   right: 0;
      //   top: 70px;
      // }
    }
  }
}
.language-switcher-language-url{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  background-color: white;
  @include breakpoint(mediumplus){
    top: -80px;
  }
  @include breakpoint(large){
    position: static;
    display: block;
    width: auto;
    padding-left: 10px;
    height: 26px;
    padding-right: 10px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li{
      margin: 0px 5px;
      &::after{
        content: '/';
        display: inline-block;
        color: black;
        margin-left: 5px;
        margin-right: -5px;
      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
      a{
        color: black;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.3s ease;
        &:hover{
          opacity: 0.4;
        }
      }
    }
  }
}
