// Non-modular or client styles for the .l-content region.
// .off-canvas-wrapper-inner {
//   display: flex;
//   .off-canvas-content {
//     min-height: 100vh;
//     width: 100%;
//     display: flex;
//     flex-direction: column;

//     #main-wrapper {
//       flex: 1 0 auto;
//     }
//   }
// }
