.region-right_off_canvas {
  padding-top: 71.2px;
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}

.is-open-right.has-transition-overlap {
	#header-wrapper {
		#header {
			z-index: 999;
	        @include breakpoint(mediumplus down) {
				.block-base-branding {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}

.js-off-canvas-overlay {
	background-color: transparent !important;
}

.off-canvas.is-transition-overlap.is-open {
	box-shadow: none;
}

.js-off-canvas-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	transition: opacity .5s ease,visibility .5s ease;
	background: no-repeat;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
}

.off-canvas.is-transition-overlap {
	z-index: 999;
}

.off-canvas {
	background-color: $black;
    @include transition(0.6s);
	position: fixed;
	z-index: 13;
	@include translatex(100%);
	width: 100%;
	// @include breakpoint(medium) {
	// 	max-width: calc(100% - 265px);
	// }
	@include breakpoint(mediumplus) {
		width: calc(((100% - 1200px) / 2) + 755px);
	}
	.region-right_off_canvas {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.block-mainnavigation {
			width: 500px;
			.is-drilldown {
				min-height: auto !important;
				max-width: 100% !important;
				ul.menu {
					@include breakpoint(medium down) {
						max-width: 280px;
						margin: 0px auto;
						justify-content: center;
						padding-top: 40px;
					}
					@include breakpoint(mediumplus) {
						padding-top: 60px;
					}
					@include breakpoint(large) {
						padding-top: 80px;
					}
					.number-wrapper {
						display: flex;
						flex-direction: row-reverse;
						justify-content: flex-end;
						align-items: center;
						margin-bottom: 40px;
						@include transition(0.35s);
						a {
							padding: 0px;
							background: transparent;
							color: $white;
            				font-family: $body-font-family;
            				font-size: 16px;
            				text-transform: uppercase;
            				font-weight: 300;
            				@include transition(0.35s);
            				margin-left: 50px;
            				position: relative;
            				&:before {
								content: "";
            					border-bottom: 1px solid $white;
								position: absolute;
								bottom: -2px;
								left: 0px;
								opacity: 0;
								visibility: hidden;
								transition: all .35s ease-in-out;
								-ms-transition: all .35s ease-in-out;
								-o-transition: all .35s ease-in-out;
								-moz-transition: all .35s ease-in-out;
								-webkit-transition: all .35s ease-in-out;
								width: 0%;
							}
						}
						span {
							color: $white;
            				font-family: $second-font-family;
            				font-size: 16px;
            				font-weight: 300;
							@include transition(0.35s);
						}
						&:hover, &:focus {
							a {
        						// border-bottom: 1px solid $white;
        						&:before {
            						opacity: 1;
            						visibility: visible;
            						width: 100%;
            					}
							}
							span {
	            				font-style: italic;
							}
        				}
						&.active {
							a {
								font-weight: $global-weight-bold;
            					border-bottom: none;
            					letter-spacing: 1px;
							}
							span {
								font-size: 0px;
								&:before {
									width: 9px;
									height: 9px;
									background-color: $white;
									-ms-border-radius: 50%;
									-webkit-border-radius: 50%;
									border-radius: 50%;
									content: "";
									display: block;
									margin-left: 3px;
								}
							}
						}
					}
				}
			}
		}
	}
}