// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }
body {
  background-color: $black;
  color: $white;
  font-weight: normal;
}
.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

// FORM

.js-form-item {
  margin-bottom: 15px;

  input {
    margin-bottom: 0;
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;

      &:before {
        content: "";
        width: 18px;
        height: 18px;
        border: 2px solid $white;
        display: block;
        margin-right: 10px;
        margin-top: 5px;

      }
    }

    &:checked {
      &+label {
        &:before {
          background: url("../images/tick.svg") no-repeat center center;
          background-size: 10px;
        }
      }
    }
  }
}

#block-base-local-tasks {
  position: absolute;
  z-index: 9;
  margin-top: 15px;
  .button-group {
    margin-bottom: 0px;
  }
  a {
    @include button;
    padding: 10px 25px !important;
    font-weight: $global-weight-normal;
    &:before {
      display: none;
    }
  }
}


.is-open-right.has-transition-overlap {
  #block-base-local-tasks {
    z-index: 9;
  }
}

body.overflow-hidden {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}

.swiper-button-prev, .swiper-button-next {
  &:hover, &:focus {
    outline: none;
  }
}


.user-not-logged-in.path-user {
  .region-content {
    max-width: $global-width;
    margin: auto;
    .block-base-local-tasks {
      @include row-container;
      padding-top: 150px;
      padding-bottom: 20px;
      position: static !important;
      margin-top: 0px;
      @include breakpoint(mediumplus) {
        padding-top: 200px;
      }
      @include breakpoint(xlarge) {
        padding-top: 220px;
      }
      .button-group {
        margin-bottom: 0px;
        @include breakpoint(medium down) {
          display: block;
        }
        li {
          margin-right: 10px;
          @include breakpoint(medium down) {
            margin-bottom: 15px;
          }
          a {
            @include button();
            @include breakpoint(medium down) {
              font-size: 13px;
            }
          }
        }
      }
    }
    .block-system-main-block {
      max-width: 100% !important;
      @include row-container;
      .user-login-form, .user-pass {
        padding: 0px !important;
        .form-item {
          label {
            font-size: 18px;
            font-weight: $global-weight-normal;
            color: $white;
            padding-bottom: 10px;
          }
          input {
            background-color: transparent;
            border: 2px solid $white;
            height: 33px;
            color: $white;
            @include placeholder($white, 1);
            font-size: 16px;
            font-weight: $global-weight-normal;
            box-shadow: none;
            border-radius: 0px;
            @include breakpoint(mediumplus) {
              margin-bottom: 20px;
            }
          }
          .description {
            font-size: 16px;
            color: $white;
          }
        }
        .form-actions {
          width: 100%;
          position: relative;
          margin-top: 40px;
          @include transition(0.35s);
          input {
            background-color: $white;
            border: 2px solid $white;
            color: $black;
            text-transform: uppercase;
            font-family: $body-font-family;
            font-weight: $global-weight-normal;
            font-size: 15px;
            letter-spacing: 1px;
            @include transition(0.35s);
            line-height: 1;
            padding: 10px 45px;
            display: inline-block;
            position: relative;
            text-align: center;
            box-shadow: none;
            letter-spacing: 1px;
            height: 54px;
            @include breakpoint(mediumplus) {
              font-size: 16px;
              padding: 10px 50px;
            }
          }
          &:hover, &:focus {
            input {
              background-color: transparent;
              color: $white;
            }
          }
        }
      }
    }
  }
}


#popup-text {
  p {
    color: $black;
    font-family: $body-font-family;
    font-size: 16px;
    a {
      color: $black;
      @include transition(0.35s);
      &:hover, &:focus {
        color: $light-gray;
      }
    }
  }
}

#popup-buttons {
  button {
    background-color: $black;
    border: 2px solid $black;
    color: $white;
    text-transform: uppercase;
    font-family: "objektiv-mk3, sans-serif;";
    line-height: 2.2;
    display: inline-block;
    height: 54px;
    @include transition(0.35s);
    position: relative;
    @include breakpoint(medium down) {
      letter-spacing: 0px;
      padding: 10px 20px;
      padding-left: 50px;
      font-size: 13px;
    }
    @include breakpoint(mediumplus) {
      font-size: 12px;
      padding: 10px 20px;
      padding-left: 40px;
      line-height: 2.6;
      letter-spacing: 0px;
    }
    @include breakpoint(large) {
      font-size: 15px;
      line-height: 2.2;
      letter-spacing: 1px;
      padding: 10px 25px;
      padding-left: 60px;
    }
    @include breakpoint(xlarge) {
      padding: 10px 40px;
      padding-left: 70px;
    }
    &:before {
      background-image: url("../images/plus-white.png");
      background-repeat: no-repeat;
      background-position: center;
      padding-right: 0;
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25px;
      opacity: 1;
      visibility: visible;
      vertical-align: middle;
      @include transition(0.35s);
      height: 50px;
      @include breakpoint(medium down) {
        background-size: 20px;
        width: 25px;
        left: 15px;
      }
      @include breakpoint(mediumplus) {
        background-size: 20px;
        left: 10px;
        width: 25px;
      }
      @include breakpoint(large) {
        width: 40px;
        background-size: 30px;
      }
    }
    &:hover, &:focus {
      color: $black;
      background-color: transparent;
      &:before {
        background-image: url("../images/plus-black.png");
      }
    }
  }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
  pointer-events: inherit;
}

.section-woonuitbreiding {
  .paragraph--type--title-text {
    background-color: $dark-gray;
    @include breakpoint(mediumplus down) {
      padding-top: 60px;
      padding-bottom: 50px;
    }
  }
}

details > summary::-webkit-details-marker {
  display: none;
}
