// @file
// Place your mixins here. Feel free to roll your own mixins.

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin all-clear {
  &::after, &::before {
  content: " ";
  display: table;
  width: 0;
  }
  &::after {
    clear: both;
  }
}
@mixin placeholder($color, $opacity) {
   &::-moz-placeholder {
     color: $color;
     opacity: $opacity;
   }
   &::-webkit-input-placeholder {
     opacity: $opacity;
     color: $color;
   }
   &:-ms-input-placeholder {
     opacity: $opacity;
     color: $color;
   }
   &::-ms-input-placeholder {
     opacity: $opacity;
     color: $color;
   }
   &:focus {
       &::-moz-placeholder {
       opacity: 1;

     &::-webkit-input-placeholder {
       opacity: 1;
     }
     &:-ms-input-placeholder {
       opacity: 1;
     }     }
     &::-ms-input-placeholder {
       opacity: 1;
     }
   }
}

@mixin skew($s1, $s2) {
	-ms-transform: skew($s1,$s2);
  -webkit-transform: skew($s1,$s2);
  transform: skew($s1,$s2);
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform:    $property;
  -ms-transform:     $property;
  -o-transform:      $property;
  transform:         $property;
}

@mixin scale($m) {
  -webkit-transform: scale($m);
  -moz-transform:    scale($m);
  -ms-transform:     scale($m);
  -o-transform:      scale($m);
  transform:         scale($m);
}
@mixin translate($p, $q) {
  -webkit-transform: translate($p,$q);
  -moz-transform:    translate($p,$q);
  -ms-transform:     translate($p,$q);
  -o-transform:      translate($p,$q);
  transform:         translate($p,$q);
}
@mixin translatex($y) {
  -webkit-transform: translateX($y);
  -moz-transform:    translateX($y);
  -ms-transform:     translateX($y);
  -o-transform:      translateX($y);
  transform:         translateX($y);
}
@mixin translatey($x) {
  -webkit-transform: translateY($x);
  -moz-transform:    translateY($x);
  -ms-transform:     translateY($x);
  -o-transform:      translateY($x);
  transform:         translateY($x);
 }
@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform:    rotate($angle);
  -ms-transform:     rotate($angle);
  -o-transform:      rotate($angle);
  transform:         rotate($angle);
}
@mixin transition($t) {
  transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
}

@mixin appearance($value:false) {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  @if $value {
      -webkit-appearance: $value;
      -moz-appearance:    $value;
      appearance:         $value;
  }
}


@mixin justify-content($pos) {
    justify-content: $pos;
    -webkit-justify-content: $pos;
    -ms-justify-content: $pos;
}

@mixin col-width($x,$pad:false) {
  width: ((100% / 12) * $x);
  @if $pad {
    padding-right: $pad;
    padding-left: $pad;
  }
}

@mixin row-container {
  padding-left: 25px;
  padding-right: 25px;
  @include breakpoint(mediumplus) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include breakpoint(xlarge) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin grid-top {
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint(mediumplus) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  @include breakpoint(large) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(xlarge) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}


@mixin button {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
  text-transform: uppercase;
  font-family: "objektiv-mk3, sans-serif;";
  line-height: 2.2;
  display: inline-block;
  height: 54px;
  @include transition(0.35s);
  position: relative;
  @include breakpoint(medium down) {
    letter-spacing: 0px;
    padding: 10px 20px;
    padding-left: 50px;
    font-size: 13px;
  }
  @include breakpoint(mediumplus) {
    font-size: 12px;
    padding: 10px 20px;
    padding-left: 40px;
    line-height: 2.6;
    letter-spacing: 0px;
  }
  @include breakpoint(large) {
    font-size: 13px;
    line-height: 2.3;
    letter-spacing: 1px;
    padding: 10px 25px;
    padding-left: 60px;
  }
  @include breakpoint(xlarge) {
    font-size: 15px;
    padding: 10px 40px;
    padding-left: 80px;
    line-height: 2.1;
  }
  &:before {
    background-image: url("../images/plus-black.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 0;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25px;
    opacity: 1;
    visibility: visible;
    vertical-align: middle;
    @include transition(0.35s);
    height: 50px;
    @include breakpoint(medium down) {
      background-size: 20px;
      width: 25px;
      left: 15px;
    }
    @include breakpoint(mediumplus) {
      background-size: 20px;
      left: 10px;
      width: 25px;
    }
    @include breakpoint(large) {
      width: 40px;
      left: 20px;
      background-size: 26px;
    }
  }
  &:hover, &:focus {
    color: $white;
    background-color: transparent;
    &:before {
      background-image: url("../images/plus-white.png");
    }
  }
}
