.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  padding: $button-padding;
  border: 2px solid $body-font-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-size: rem-calc(14);
  background-color: $button-background;
  &:hover, &:focus {
    background-color: $body-font-color;
    color: $white;
  }
}

.burger-icon {
  @include burger(25px, 3px, 5px, $body-font-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}

div#icon3 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
div#icon3 {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#icon3 span:nth-child(even) {
  left: 40%;
  border-radius: 50%;
}

#icon3 span:nth-child(odd) {
  left:0px;
  border-radius: 50%;
}
#icon3 span:nth-child(1), #icon3 span:nth-child(2), #icon3 span:nth-child(3) {
  top: 0px;
}
#icon3 span:nth-child(4), #icon3 span:nth-child(5), #icon3 span:nth-child(6) {
  top: 11px;
}
#icon3 span:nth-child(7), #icon3 span:nth-child(8), #icon3 span:nth-child(9) {
  top: 22px;
}
#icon3 span:nth-child(3) {
  left: 78%;
}
#icon3 span:nth-child(6) {
  left: 78%;
}
#icon3 span:nth-child(9) {
  left: 78%;
}

#icon3.open span:nth-child(2) {
  top: 20px;
}

#icon3.open span:nth-child(5) {
  left: 50%;
}
#icon3.open span:nth-child(6) {
  left: 50%;
}

#icon3.open span:nth-child(8) {
  top: 20px;
}


.overflow-hidden #icon3 span:nth-child(even) {
  left: 40%;
  border-radius: 50%;
}

.overflow-hidden #icon3 span:nth-child(3) {
  left: 80%;
}

.overflow-hidden #icon3.open span:nth-child(5) {
  left: 40%;
}

.overflow-hidden #icon3 span:nth-child(9) {
  left: 80%;
} 

.overflow-hidden #icon3 span:nth-child(4), .overflow-hidden #icon3 span:nth-child(5), .overflow-hidden #icon3 span:nth-child(6) {
  top: 12px;
}

.overflow-hidden #icon3.open span:nth-child(2) {
  top: 12px;
}

.overflow-hidden #icon3.open span:nth-child(8) {
  top: 12px;
}