.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      display: flex;
      justify-content: center;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include breakpoint(smallplus){
    text-align: left;
  }

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}

.webform-submission-form{
  .js-form-type-select{
    label{
      width: 165px!important;
    }
    span.select2-container{
      @include breakpoint(mediumplus) {
        margin-top: -5px;
      }
    }
  }
}

div.eu-cookie-compliance-content{
  width: 70%;
  #popup-buttons{
    display: flex;
    flex-direction: column;
  }
  button{
    transform: scale(0.8);
  }
}
