.home.full {
  h1 {
    font-size: rem-calc(16);
    margin-bottom: 0;
  }
  h2 {
    font-size: rem-calc(40);
    margin-bottom: 15px;
  }
}


.home {
	.slides-wrapper {
		max-width: 100%;
		margin: 0px;
		.slides-inner {
			color: $white;
			position: relative;
			@include breakpoint(mediumplus) {
				display: flex;
			}
		    @include breakpoint(large) {
		        .scroll-wrapper {
		            width: 100%;
		            cursor: pointer;
		            position: absolute;
		            left: 0px;
		            right: 0px;
		            height: 100%;
		            z-index: 1;
		            top: 0px;
		            .scroll {
		              max-width: $global-width;
		              margin: auto;
		              @include row-container;
		              position: relative;
		              width: 100%;
		              height: 100%;
		              span {
		                width: 1px;
		                height: 400px;
		                content: "";
		                display: block;
		                right: 50px;
		                bottom: 120px;
		                position: absolute;
		                background-color: $white;
		                z-index: 1;
		                @include breakpoint(xlarge) {
		                  right: 28px;
		                }
		                &:before {
		                  height: 30px;
		                  animation: mover 7s infinite alternate;
		                  width: 5px;
		                  top: 0px;
		                  position: absolute;
		                  right: -2px;
		                  content: "";
		                  display: block;
		                  background-color: $white;
		                  z-index: 1;
		                }
		              }
		            }
		        }
	        }
			.field-node--field-slides {
				@include breakpoint(mediumplus) {
					width: calc(50% + 200px);
					margin-left: -25%;
				}
				@include breakpoint(large) {
					width: calc(50% + 500px);
				}
				@include breakpoint(xlarge) {
					width: calc(50% + 700px);
				}
				.swiper-slide {
					position: relative;
					&:before {
						width: 100%;
						height: 100%;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.7);
						top: 0px;
						left: 0px;
						content: "";
						display: block;
					}
					img {
						width: 100%;
						min-height: 460px;
            max-height: 460px;
						object-fit: cover;
						@include breakpoint(mediumplus) {
							min-height: 800px;
              max-height: 800px;
						}
					}
				}
			}
			.swiper-button-outer {
				display: none;
			}
			.slider-content-outer {
				max-width: $global-width;
				margin: auto;
				@include row-container;
				@include breakpoint(medium down) {
					padding-top: 60px;
					padding-bottom: 60px;
				}
				@include breakpoint(mediumplus) {
					position: absolute;
					bottom: 0px;
					margin-bottom: 60px;
					z-index: 2;
					left: 0px;
					right: 0px;
					width: 100%;
				}
				@include breakpoint(large) {
					margin-bottom: 90px;
				}
				@include breakpoint(xlarge) {
					margin-bottom: 108px;
				}
				.slider-content {
					@include breakpoint(mediumplus) {
						display: flex;
						flex-wrap: wrap;
						align-items: flex-end;
					}	
					.left-content {
						width: 100%;
						@include breakpoint(mediumplus) {
							width: 45%;
						}
						h1 {
							font-size: 18px;
							text-transform: uppercase;
							font-family: $body-font-family;
							font-weight: $global-weight-normal;
							letter-spacing: 1px;
						}
						h2 {
							font-size: 46px;
							font-family: $second-font-family;
							margin: 0px;
							padding-top: 15px;
							line-height: 1;
							@include breakpoint(medium down) {
								padding: 35px 0px;
							}
						}
					}
					.right-content {
						width: 100%;
						position: relative;
						@include breakpoint(mediumplus) {
							width: 55%;
							padding-right: 30px;
							padding-left: 40px;
						}
						@include breakpoint(large) {
							padding-right: 60px;
							padding-left: 60px;
						}
						@include breakpoint(xlarge) {
							padding-right: 80px;
						}
						.field-node--body {
							p {
								font-size: 18px;
								font-weight: 300;
								font-family: $body-font-family;
								margin-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}
}
