.page.full {
  header.basic-page {
    ul.breadcrumbs {
      li {
        text-transform: lowercase;
        color: $white;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover, &:focus {
          color: $light-gray;
        }
        a,span {
          text-transform: lowercase;
          color: $white;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 1px;
          text-decoration: none;
          &:hover, &:focus {
            color: $light-gray;
          }
        }
      }
    }
    h1 {
      font-size: 36px;
      font-family: $second-font-family;
      margin: 0px;
      padding-top: 5px;
      line-height: 1.2;
      color: $white;
      max-width: 363px;
      @include breakpoint(mediumplus) {
        font-size: 30px;
      }
      @include breakpoint(large) {
        font-size: 36px;
      }
      @include breakpoint(xlarge) {
        font-size: 46px;
      }
    }
    .with-image {
      figure {
        @include breakpoint(mediumplus) {
          display: flex;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
          -webkit-align-items: flex-end;
          align-items: flex-end;
          position: relative;
        }
        @include breakpoint(large) {
          .scroll-wrapper {
            width: 100%;
            cursor: pointer;
            position: absolute;
            left: 0px;
            right: 0px;
            height: 100%;
            z-index: 1;
            top: 0px;
            .scroll {
              max-width: $global-width;
              margin: auto;
              @include row-container;
              position: relative;
              width: 100%;
              height: 100%;
              span {
                width: 1px;
                height: 400px;
                content: "";
                display: block;
                left: 15px;
                bottom: 130px;
                position: absolute;
                background-color: $white;
                z-index: 1;
                @include breakpoint(xlarge) {
                  left: -30px;
                }
                @include breakpoint(xxlarge) {
                  left: -70px;
                }
                &:before {
                  height: 30px;
                  animation: mover 7s infinite alternate;
                  width: 5px;
                  top: 0px;
                  position: absolute;
                  left: -2px;
                  content: "";
                  display: block;
                  background-color: $white;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
      .basic-page-image {
        width: 100%;
        position: relative;
        @include breakpoint(mediumplus) {
          width: calc(50% + 218px);
          margin-left: auto;
          padding-left: 65px;
        }
        img {
          min-height: 450px;
          object-fit: cover;
          width: 100%;
          @include breakpoint(mediumplus) {
            min-height: 800px;
          }
        }
        .swiper-button-outer {
          .swiper-inner {
            position: absolute;
            left: 0px;
            display: flex;
            @include transition(0.35s);
            width: 130px;
            z-index: 99;
            @include breakpoint(medium down) {
              bottom: 43px;
            }
            @include breakpoint(mediumplus) {
              top: 50%;
              @include translatey(-50%);
            }
            .swiper-button-prev {
              background-color: #262626;
            }
            .swiper-button-next {
              background-color: rgba(0, 0, 0, 0.73);
            }
            .swiper-button-prev, .swiper-button-next {
              background-image: none;
              width: 65px;
              height: 65px;
              @include transition(0.35s);
              z-index: 11;
              opacity: 1;
              &:hover, &:focus {
                background-color: $white;
              }
              &:before {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 35px;
                content: "";
                display: block;
                @include transition(0.35s);
              }
            }
            .swiper-button-prev {
              left: 0px;
              &:before {
                background-image: url("../images/left-arrow.svg");
              }
              &:hover, &:focus {
                &:before {
                  background-image: url("../images/left-arrow-black.svg");
                }
              }
            }
            .swiper-button-next {
              right: 0px;
              &:before {
                background-image: url("../images/right-arrow.svg");
              }
              &:hover, &:focus {
                &:before {
                  background-image: url("../images/right-arrow-black.svg");
                }
              }
            }
          }
        }
      }
      figcaption {
        width: 100%;
        @include breakpoint(medium down) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
        @include breakpoint(mediumplus) {
          margin-right: -100%;
          margin-bottom: 120px;
          margin-top: auto;
        }
        .basic-page-text-outer {
          max-width: $global-width;
          @include row-container;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          z-index: 9;
          // overflow: hidden;
          height: 100%;
          width: 100%;
          display: block;
          @include breakpoint(large) {
            // &:before {
            //   background-image: url("../images/line-outer.png");
            //   background-repeat: no-repeat;
            //   background-position: center;
            //   background-size: cover;
            //   width: 5px;
            //   height: 450px;
            //   display: inline-block;
            //   content: "";
            //   vertical-align: middle;
            //   position: absolute;
            //   left: 15px;
            //   bottom: 0px;
            //   @include breakpoint(xlarge) {
            //     left: -30px;
            //   }
            //   @include breakpoint(xxlarge) {
            //     left: -70px;
            //   }
            // }
            // &:before {
            //   height: 30px;
            //   animation: mover 4s infinite alternate;
            //   width: 5px;
            //   top: -260px;
            //   position: absolute;
            //   left: 15px;
            //   content: "";
            //   display: block;
            //   background-color: $white;
            //   z-index: 1;
            //   @include breakpoint(xlarge) {
            //     left: -32px;
            //   }
            //   @include breakpoint(xxlarge) {
            //     left: -72px;
            //   }
            // }
            // &:after {
            //   width: 1px;
            //   height: 400px;
            //   content: "";
            //   display: block;
            //   left: 15px;
            //   bottom: 13px;
            //   position: absolute;
            //   background-color: $white;
            //   z-index: 1;
            //   @include breakpoint(xlarge) {
            //     left: -30px;
            //   }
            //   @include breakpoint(xxlarge) {
            //     left: -70px;
            //   }
            // }
          }
          .basic-page-text-inner {
            @include breakpoint(mediumplus) {
              max-width: 365px;
            }
            .field-block-content--field-company-name {
              padding-top: 25px;
              font-size: 18px;
              font-weight: 300;
              font-family: $body-font-family;
              margin-bottom: 0px;
            }
            .paragraph--type--branch {
              display: block;
              text-align: left;
              p {
                font-size: 18px;
                font-weight: 300;
                font-family: $body-font-family;
                margin-bottom: 0px;
              }
            }
            .field-block-content--field-extra-main-contact-fields {
              .field-item {
                &:first-child {
                  padding-top: 8px;
                  padding-bottom: 40px;
                  p {
                    margin-bottom: 0px;
                  }
                }
              }
              .paragraph--type--contact-field {
                font-size: 18px;
                font-weight: 300;
                font-family: $body-font-family;
                margin-bottom: 10px;
                a {
                  color: $white;
                  @include transition(0.35s);
                  &:hover, &:focus {
                    color: $light-gray;
                  }
                }
              }
            }
            ul.linkicon {
              justify-content: flex-start;
              align-items: center;
              padding-top: 25px;
              li {
                line-height: 1;
                a {
                  font-size: 30px;
                  color: $white;
                  margin-right: 15px;
                  font-weight: $global-weight-bold;
                  @include transition(0.35s);
                  &:hover, &:focus {
                    color: $light-gray;
                  }
                }
                &:last-child {
                  a {
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .without-image {
      padding-top: 160px;
      @include breakpoint(mediumplus) {
        padding-top: 286px;
      }
      figure {
        position: relative;
      }
      figcaption {
        width: 100%;
        margin-top: auto;
        position: absolute;
        left: 0;
        top: 0;
        .basic-page-text-outer {
          max-width: $global-width;
          @include row-container;
          margin-left: auto;
          margin-right: auto;
          .basic-page-text-inner {
            max-width: 365px;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }
}

.realisation.full {
  header {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    margin-bottom: 30px;
    figcaption {
      padding-top: 160px;
      @include breakpoint(mediumplus) {
        display: flex;
        padding-top: 286px;
      }
      .left-wrapper {
        margin-left: auto;
        width: 100%;
        position: relative;
        @include breakpoint(mediumplus) {
          width: 45%;
          padding-right: 40px;
        }
        @include breakpoint(large) {
          padding-right: 60px;
        }
        ul.breadcrumbs {
          li {
            text-transform: lowercase;
            color: $white;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
            text-decoration: none;
            &:hover, &:focus {
              color: $light-gray;
            }
            a,span {
              text-transform: lowercase;
              color: $white;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 1px;
              text-decoration: none;
              &:hover, &:focus {
                color: $light-gray;
              }
            }
          }
        }
        h1 {
          font-size: 46px;
          font-family: $second-font-family;
          margin: 0px;
          padding-top: 5px;
          line-height: 1.2;
          color: $white;
          max-width: 363px;
        }
        a.button {
          @include button;
          margin-top: 30px;
          padding: 10px 20px !important;
          @include breakpoint(mediumplus) {
            padding: 10px 20px;
          }
          @include breakpoint(large) {
            padding: 10px 25px;
          }
          @include breakpoint(xlarge) {
            padding: 10px 40px;
          }
          &:before {
            display: none;
          }
        }
      }
      .field-node--body {
        width: 100%;
        @include breakpoint(mediumplus) {
          width: 55%;
          padding-left: 40px;
        }
        @include breakpoint(large) {
          padding-left: 50px;
        }
        p {
          font-size: 18px;
          font-family: $body-font-family;
          font-weight: 300;
        }
      }
    }
  }
}


.breadcrumbs li:not(:last-child)::after {
  margin: 0 .3rem;
}

@include breakpoint(mediumplus) {
  .section-werkwijze {
    .field-node--field-paragraphs {
      > .field-items {
        > .field-item {
          &:first-child {
            position: relative;
            &:before {
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='519px' height='526px' viewBox='0 0 519 526' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='3.0-Werkwijze' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0.000000, -604.000000)' fill='%23121212' id='Group-3'%3E%3Cg transform='translate(-35.000000, 604.000000)'%3E%3Cpath d='M253.486609,104.170272 C253.486609,43.0636063 238.310862,12.4714276 207.934663,12.4714276 C179.018479,12.4714276 164.587561,33.0339296 164.587561,74.1083722 C164.587561,93.1860924 169.955769,113.244213 180.746533,134.259302 C191.510122,155.300288 205.25056,172.653984 221.886321,186.345054 C242.961414,171.671118 253.486609,144.288979 253.486609,104.170272 M320.352043,465.105446 C243.440674,361.916808 184.653491,286.853933 144.017667,239.889691 C119.514876,257.985778 107.262863,292.981741 107.262863,344.802354 C107.262863,386.857196 119.992901,422.440166 145.480152,451.547563 C170.938993,480.653727 202.299651,495.194476 239.533716,495.194476 C271.850424,495.194476 298.798924,485.1648 320.352043,465.105446 M554,212.400263 C554,215.160181 538.585858,217.256634 507.703225,218.63536 C490.562264,219.618226 479.904902,221.581493 475.759549,224.526392 C471.600609,227.471292 468.277904,235.352721 465.83343,248.115185 C453.102156,314.978463 430.327419,366.852104 397.504276,403.707744 L402.660028,411.827182 L418.075406,436.900757 L434.259081,461.231941 C445.022671,477.469585 456.053065,488.162727 467.320619,493.311368 C478.57582,498.458777 498.907319,501.802002 528.300293,503.260887 C539.541908,503.711007 545.17692,506.258814 545.17692,510.875943 C545.17692,514.113113 540.286737,515.731081 530.480433,515.731081 L486.416911,515.731081 L450.418053,515.731081 L351.208737,515.731081 C343.872845,501.8279 336.750644,489.091332 329.919952,477.575641 C291.703898,509.868413 242.21782,526 181.490127,526 C127.593127,526 83.8754626,512.680126 50.3359004,486.01448 C16.7691635,459.373498 0,424.535386 0,381.471779 C0,345.783987 10.5239594,315.960097 31.5990529,291.97421 C52.6482069,268.014222 87.1709936,246.495984 135.194587,227.418264 C117.069167,209.349307 104.339129,195.631107 96.9772981,186.345054 C80.3143623,165.329965 71.9952465,140.123204 71.9952465,110.776564 C71.9952465,78.0349049 84.2472598,51.3692589 108.751286,30.831421 C133.228139,10.2948163 165.066822,0 204.2661,0 C242.45745,0 273.445076,8.96788503 297.204273,26.8789909 C320.96347,44.814761 332.843686,68.0052282 332.843686,96.4762901 C332.843686,145.562882 299.543754,179.446491 232.916715,198.098755 C254.469833,220.201533 281.896359,252.227932 315.223465,294.20385 C348.523398,336.179767 372.282595,368.682184 386.475118,391.739465 C422.247933,350.348088 440.132488,299.086118 440.132488,237.952322 C440.132488,225.641212 433.755117,219.457909 421.023843,219.457909 C382.328529,219.963524 362.98149,217.495876 362.98149,212.054964 C362.98149,208.128432 371.060976,206.165165 387.218712,206.165165 L452.624132,206.165165 L515.065056,206.165165 C541.031567,205.660784 554,207.757236 554,212.400263' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: 519px 526px;
              display: block;
              width: 519px;
              height: 526px;
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              @include translatey(-50%);
              left: 0px;
            }
          }
        }
      }
    }
  }
}

.paragraph--type--text-blocks {
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include row-container;
  @include breakpoint(medium down) {
    padding-bottom: 30px;
  }
  & > .field-paragraph--field-text-blocks {
    position: relative;
    z-index: 2;
    @include breakpoint(medium down) {
      padding-top: 130px;
    }
    @include breakpoint(mediumplus) {
      max-width: calc(100% - 365px);
      padding-left: 70px;
      margin-left: auto;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      font-family: $body-font-family;
    }
  }
}

.paragraph--type--methods {
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include row-container;
  @include breakpoint(medium down) {
    padding-bottom: 40px;
  }
  &> .field-name-field-method {
    position: relative;
    z-index: 2;
    @include breakpoint(mediumplus down) {
      padding-top: 200px;
    }
    @include breakpoint(mediumplus) {
      max-width: calc(100% - 365px);
      padding-left: 70px;
      margin-left: auto;
      padding-bottom: 50px;
      &::before  {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: #656565;
        content: "";
        top: 0px;
        left: 19px;
      }
    }
    @include breakpoint(mediumplus) {
      .page-scroll {
        width: 100%;
        height: 100%;
        position: relative;
        &.fixed-line {
          position: fixed;
          z-index: 12;
        }
        span {
          min-width: 4px;
          min-height: 75px;
          border: 2px solid $white;
          position: relative;
          background-color: $white;
          position: absolute;
          left: -52px;
          @include transition(0.8s);
          margin-right: 30px;
        }
      }
    }
    >.field-items {
      padding-top: 0px;
      @include breakpoint(mediumplus) {
        padding-top: 80px;
      }
      > .field-item {
        display: flex;
        padding-bottom: 30px;
        @include breakpoint(mediumplus) {
          padding-bottom: 50px;
        }
        @include breakpoint(large) {
          padding-bottom: 70px;
        }
        @include breakpoint(xlarge) {
          padding-bottom: 90px;
        }
      }
    }
    // @include breakpoint(mediumplus) {
    //   span.line {
    //     min-width: 4px;
    //     min-height: 75px;
    //     border: 2px solid $white;
    //     position: relative;
    //     background-color: $white;
    //     position: absolute;
    //     left: 18px;
    //     margin-top: -10px;
    //     @include transition(0.6s);
    //     opacity: 0;
    //     visibility: hidden;
    //     margin-right: 30px;
    //     animation: mover 7s infinite alternate;
    //     &.active-list {
    //       opacity: 1;
    //       visibility: visible;
    //     }
    //   }
    // }
    .number-text {
      display: flex;
      position: relative;
      @include breakpoint(mediumplus) {
        padding-left: 60px;
      }
      @include breakpoint(xlarge) {
        padding-left: 80px;
      }
      @include breakpoint(mediumplus) {
        &:before {
          border: 1px dashed $white;
          position: absolute;
          left: -47px;
          top: 15px;
          width: 90px;
          content: "";
          display: block;
        }
      }
      .number-wrapper {
        font-style: italic;
        font-size: 23px;
        font-family: $second-font-family;
        font-weight: 300;
        margin-bottom: 15px;
        padding-right: 5px;
        @include breakpoint(mediumplus) {
          margin-bottom: 25px;
          padding-right: 10px;
        }
      }
      .paragraph--type--method {
        .field-name-field-title {
          font-style: italic;
          font-size: 23px;
          font-family: $second-font-family;
          font-weight: 300;
          margin-bottom: 10px;
          @include breakpoint(mediumplus) {
            margin-bottom: 26px;
          }
        }
        .field-name-field-text {
          p {
            font-size: 18px;
            font-weight: 300;
            font-style: $body-font-family;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}



.section-contact {
  .page.full header.basic-page .with-image figcaption .basic-page-text-outer {
    &:before, &:after {
      display: none;
    }
  }
}

@-webkit-keyframes mover {
    0% { top: 0; margin-top: 0}
    30% { top: 0; margin-top: 0}
    60% { top: 100%; margin-top: -16px; }
    80% { top: 0; margin-top: 0; }
    100% { top: 0; margin-top: 0}
}
@keyframes mover {
    0% { top: 0; margin-top: 0}
    30% { top: 0; margin-top: 0}
    60% { top: 100%; margin-top: -16px; }
    80% { top: 0; margin-top: 0; }
    100% { top: 0; margin-top: 0}
}

a[href="/sites/default/files/files-src/2023-03/algemene_vw.pdf"]{
  background-color: white;
  color:black;
}
.block-base-footer .menu li a {
  padding: 10px;
  margin: 5px;
}