.paragraph--type--quote{
  .ampersand-wrapper{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='554px' height='526px' viewBox='0 0 554 526' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 554 0 554 526 0 526'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-home' transform='translate(-53.000000, -833.000000)'%3E%3Cg id='Group-3' transform='translate(53.000000, 833.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M253.486609,104.170272 C253.486609,43.0636063 238.310862,12.4714276 207.934663,12.4714276 C179.018479,12.4714276 164.587561,33.0339296 164.587561,74.1083722 C164.587561,93.1860924 169.955769,113.244213 180.746533,134.259302 C191.510122,155.300288 205.25056,172.653984 221.886321,186.345054 C242.961414,171.671118 253.486609,144.288979 253.486609,104.170272 M320.352043,465.105446 C243.440674,361.916808 184.653491,286.853933 144.017667,239.889691 C119.514876,257.985778 107.262863,292.981741 107.262863,344.802354 C107.262863,386.857196 119.992901,422.440166 145.480152,451.547563 C170.938993,480.653727 202.299651,495.194476 239.533716,495.194476 C271.850424,495.194476 298.798924,485.1648 320.352043,465.105446 M554,212.400263 C554,215.160181 538.585858,217.256634 507.703225,218.63536 C490.562264,219.618226 479.904902,221.581493 475.759549,224.526392 C471.600609,227.471292 468.277904,235.352721 465.83343,248.115185 C453.102156,314.978463 430.327419,366.852104 397.504276,403.707744 L402.660028,411.827182 L418.075406,436.900757 L434.259081,461.231941 C445.022671,477.469585 456.053065,488.162727 467.320619,493.311368 C478.57582,498.458777 498.907319,501.802002 528.300293,503.260887 C539.541908,503.711007 545.17692,506.258814 545.17692,510.875943 C545.17692,514.113113 540.286737,515.731081 530.480433,515.731081 L486.416911,515.731081 L450.418053,515.731081 L351.208737,515.731081 C343.872845,501.8279 336.750644,489.091332 329.919952,477.575641 C291.703898,509.868413 242.21782,526 181.490127,526 C127.593127,526 83.8754626,512.680126 50.3359004,486.01448 C16.7691635,459.373498 0,424.535386 0,381.471779 C0,345.783987 10.5239594,315.960097 31.5990529,291.97421 C52.6482069,268.014222 87.1709936,246.495984 135.194587,227.418264 C117.069167,209.349307 104.339129,195.631107 96.9772981,186.345054 C80.3143623,165.329965 71.9952465,140.123204 71.9952465,110.776564 C71.9952465,78.0349049 84.2472598,51.3692589 108.751286,30.831421 C133.228139,10.2948163 165.066822,0 204.2661,0 C242.45745,0 273.445076,8.96788503 297.204273,26.8789909 C320.96347,44.814761 332.843686,68.0052282 332.843686,96.4762901 C332.843686,145.562882 299.543754,179.446491 232.916715,198.098755 C254.469833,220.201533 281.896359,252.227932 315.223465,294.20385 C348.523398,336.179767 372.282595,368.682184 386.475118,391.739465 C422.247933,350.348088 440.132488,299.086118 440.132488,237.952322 C440.132488,225.641212 433.755117,219.457909 421.023843,219.457909 C382.328529,219.963524 362.98149,217.495876 362.98149,212.054964 C362.98149,208.128432 371.060976,206.165165 387.218712,206.165165 L452.624132,206.165165 L515.065056,206.165165 C541.031567,205.660784 554,207.757236 554,212.400263' id='Fill-1' fill='%23000000' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 554px 526px;
    display: block;
    width: 554px;
    height: 526px;
    @include breakpoint(medium down) {
      width: 100%;
      height: 100%;
      background-position: center;
      padding: 0 0 100%;
      background-size: contain;
      position: absolute;
      top: 50%;
      @include translatey(-50%);
    }
  }
}


.paragraph--type--quote {
  background-color: $dark-gray;
  .quote-wrapper {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    position: relative;
    @include breakpoint(medium down) {
      position: relative;
      padding: 180px 0px;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 40px;
    }
    .ampersand-outer {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 45%;
        margin-top: auto;
      }
      @include breakpoint(large) {
        position: absolute;
        left: 15px;
      }
      @include breakpoint(xlarge) {
        left: -30px;
      }
      @include breakpoint(xxlarge) {
        left: -70px;
      }
    }
    .content-wrapper {
      width: 100%;
      @include breakpoint(medium down) {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
      }
      @include breakpoint(mediumplus) {
        width: 55%;
        padding-right: 80px;
        padding-left: 40px;
        margin-left: auto;
        position: relative;
        z-index: 2;
      }
      @include breakpoint(large) {
        padding-right: 100px;
        padding-left: 60px;
      }
      @include breakpoint(xlarge) {
        padding-right: 125px;
      }
      .field-paragraph--field-title {
        font-size: 26px;
        font-family: $second-font-family;
        color: $white;
        padding: 0px;
        @include breakpoint(mediumplus) {
          padding: 100px 0px;
        }
        @include breakpoint(large) {
          padding: 150px 0px 180px;
        }
      }
    }
  }
}


.page {
  .paragraph--type--quote {
    .quote-wrapper {
      @include breakpoint(medium down) {
        position: relative;
        padding: 80px 0px;
      }
      @include breakpoint(mediumplus) {
        padding-top: 0px;
      }
      .content-wrapper {
        width: 100%;
        @include breakpoint(mediumplus) {
          width: 55%;
          padding-right: 20px;
          padding-left: 30px;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        @include breakpoint(large) {
          padding-left: 50px;
        }
        .field-paragraph--field-title {
          font-size: 18px;
          font-family: $body-font-family;
          color: $white;
          font-weight: 300;
          @include breakpoint(mediumplus) {
            padding: 70px 0px;
          }
          @include breakpoint(large) {
            padding: 110px 0px;
          }
          @include breakpoint(xlarge) {
            padding: 70px 0px;
          }
        }
      }
    }
  }
}

.paragraph--type--realisations-text {
  background-color: $black;
  @include breakpoint(medium down) {
    padding: 120px 0px 150px;
  }
  .realisations-outer {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    @include breakpoint(medium down) {
      padding: 0px;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 60px;
    }
    @include breakpoint(large) {
      padding-bottom: 100px;
    }
    @include breakpoint(xlarge) {
      padding-bottom: 140px;
    }
    .left-wrapper {
      width: 100%;
      @include breakpoint(medium down) {
        padding: 0px 25px;
        padding-bottom: 110px;
      }
      @include breakpoint(mediumplus) {
        width: 40%;
        padding-right: 70px;
      }
      @include breakpoint(large) {
        padding-right: 100px;
      }
      @include breakpoint(xlarge) {
        padding-right: 128px;
      }
      .field-paragraph--field-text {
        p {
          font-size: 26px;
          font-family: $second-font-family;
          color: $white;
          text-align: right;
          line-height: 1.5;
          @include breakpoint(mediumplus) {
            font-size: 18px;
          }
          @include breakpoint(xlarge) {
            font-size: 26px;
          }
        }
      }
      .field-paragraph--field-link {
        padding-top: 45px;
        text-align: right;
        @include breakpoint(medium down) {
          padding-top: 25px;
        }
        a {
          @include button;
        }
      }
    }
    .right-wrapper {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 60%;
      }
      .item-list {
        ul {
          margin: 0px;
        }
        .swiper-content-inner {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          position: relative;
          .title-outer {
            position: relative;
           .title {
              position: absolute;
              right: 0px;
              bottom: 0px;
              background-color: rgba(0, 0, 0, 0.7);
              text-align: center;
              padding: 15px 25px;
              @include breakpoint(mediumplus down) {
                width: calc(100% - 105px);
              }
              @include breakpoint(largemin down) {
                padding: 18px 15px;
              }
              @include breakpoint(large) {
                height: 65px;
                line-height: 2;
              }
              a {
                font-size: 18px;
                font-family: $body-font-family;
                color: $white;
                text-decoration: none;
                font-weight: 300;
                text-transform: lowercase;
                &:before {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  content: "";
                  display: block;
                  top: 0px;
                  left: 0px;
                }
              }
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .swiper-button {
          position: relative;
          .swiper-button-inner {
            position: absolute;
            left: -55px;
            top: -43px;
            display: flex;
            @include transition(0.35s);
            width: 130px;
            z-index: 99;
            @include breakpoint(mediumplus down) {
              width: 65px;
              display: block;
              left: 40px;
            }
            .swiper-button-prev {
              background-color: #262626;
              @include breakpoint(medium down) {
                background-color: rgba(0, 0, 0, 0.73);
                left: 0px;
              }
              @include breakpoint(mediumplus) {
                left: -10px;
              }
            }
            .swiper-button-next {
              background-color: rgba(0, 0, 0, 0.73);
              @include breakpoint(medium down) {
                background-color: #262626;
                top: 64px;
                right: 0px;
              }
            }
            .swiper-button-prev, .swiper-button-next {
              background-image: none;
              width: 65px;
              height: 65px;
              @include transition(0.35s);
              z-index: 11;
              &:hover, &:focus {
                background-color: $white;
              }
              &:before {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 35px;
                content: "";
                display: block;
                @include transition(0.35s);
              }
            }
            .swiper-button-prev {
              &:before {
                background-image: url("../images/left-arrow.svg");
              }
              &:hover, &:focus {
                &:before {
                  background-image: url("../images/left-arrow-black.svg");
                }
              }
            }
            .swiper-button-next {
              &:before {
                background-image: url("../images/right-arrow.svg");
              }
              &:hover, &:focus {
                &:before {
                  background-image: url("../images/right-arrow-black.svg");
                }
              }
            }
          }
        }
      }
    }
  }
}

.paragraph--type--title-list {
  background-color: $dark-gray;
  padding-top: 90px;
  padding-bottom: 90px;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .title-list-outer {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 40px;
    }
    .field-paragraph--field-title {
      width: 100%;
      @include breakpoint(medium down) {
        padding-bottom: 35px;
      }
      @include breakpoint(mediumplus) {
        width: 45%;
        padding-right: 40px;
      }
      @include breakpoint(large) {
        padding-right: 60px;
      }
      .field-item {
        font-size: 32px;
        font-family: $second-font-family;
        line-height: 1.4;
      }
    }
    .field-paragraph--field-list-item {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 55%;
        padding-left: 40px;
      }
      @include breakpoint(large) {
        padding-left: 60px;
      }
      .field-item {
        font-size: 16px;
        padding-left: 100px;
        position: relative;
        margin-bottom: 15px;
        font-weight: 300;
        &:before {
          width: 56px;
          height: 2px;
          background-color: $white;
          content: "";
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          left: 0px;
          top: 11px;
        }
      }
      // @include breakpoint(large) {
      //   padding-right: 90px;
      // }
      // @include breakpoint(xlarge) {
      //   padding-right: 108px;
      // }
    }
  }
}

.paragraph--type--call-to-action {
  figure {
    position: relative;
    .call-to-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      z-index: 1;
      padding: 80px 0px;
      @include breakpoint(mediumplus) {
        padding: 100px 0px;
      }
      @include breakpoint(xlarge) {
        padding: 150px 0px;
      }
      &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0px;
        left: 0px;
        content: "";
        display: block;
        z-index: -1;
      }
    }
    figcaption {
      width: 100%;
      max-width: 820px;
      margin: auto;
      color: $white;
      padding: 0px 25px;
      @include breakpoint(mediumplus) {
        padding: 0px 30px;
      }
      @include breakpoint(large) {
        padding: 0px 30px;
      }
      @include breakpoint(xlarge) {
        padding: 0px 15px;
      }
      .field-paragraph--field-title {
        font-size: 32px;
        font-family: $second-font-family;
        line-height: 1.5;
        text-align: center;
        margin-top: auto;
      }
      .webform-submission-form {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        @include breakpoint(mediumplus) {
          padding-top: 50px;
          margin: 0 -15px;
        }
        .form-item {
          width: 100%;
          margin-bottom: 20px;
          @include breakpoint(mediumplus) {
            width: 50%;
            padding: 0 15px;
            display: flex;
          }
          label {
            color: $white;
            font-size: 15px;
            font-weight: $global-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @include breakpoint(mediumplus) {
              height: 35px;
              width: 200px;
              border-bottom: 2px solid $white;
            }
          }
          input, textarea {
            border: none;
            background-color: transparent;
            border-bottom: 2px solid $white;
            color: $white;
            box-shadow: none;
            border-radius: 0px;
            font-style: italic;
            @include placeholder($white,1);
            font-family: $second-font-family;
            font-weight: 300;
            padding: 0px;
            padding-left: 10px;
            font-size: 22px;
            @include breakpoint(mediumplus) {
              padding-bottom: 10px;
            }
          }
          @include breakpoint(mediumplus) {
            input {
              width: calc(100% - 105px);
              height: 35px;
            }
          }
          .select2-selection--single {
            background-color: transparent;
            border: 2px solid $white;
            color: $white;
            box-shadow: none;
            border-radius: 0px;
            @include placeholder($white,1);
            font-family: $body-font-family;
            font-weight: $global-weight-normal;
            height: 40px;
            .select2-selection__rendered {
              line-height: 38px;
              padding: 0 20px;
              text-transform: lowercase;
            }
            .select2-selection__arrow {
              background-image: url("../images/triangle.svg");
              background-repeat: no-repeat;
              background-position: center right;
              background-size: 17px;
              width: 17px;
              height: 17px;
              display: inline-block;
              content: "";
              vertical-align: middle;
              top: 13px;
              right: 30px;
              b {
                display: none;
              }
            }
          }
        }
        .form-item.form-item-street-number {
          width: 100%;
        }
        .js-form-type-textarea {
          width: 100%;
          display: block;
          label {
            color: $white;
            font-size: 15px;
            font-weight: $global-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
          }
        }
        .js-form-type-checkbox {
          width: 100%;
          margin-bottom: 25px;
          label {
            color: $white;
            text-transform: lowercase;
            font-size: 16px;
            font-weight: 300;
            margin-right: 0px;
            border: none;
            width: 100%;
          }
        }
        .captcha {
          width: 100%;
          @include breakpoint(mediumplus) {
            padding-left: 15px;
            width: 50%;
          }
        }
        .form-actions {
          width: 100%;
          @include breakpoint(medium down) {
            padding-top: 10px;
            text-align: center;
          }
          @include breakpoint(mediumplus) {
            width: 50%;
            padding-right: 15px;
            text-align: right;
          }
          input {
            padding: 12px 40px;
            border: 2px solid $white;
            color: $black;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            background-color: $white;
            &:hover, &:focus {
              background-color: transparent;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.select2-selection__rendered {
  color: $white !important;
  text-transform: lowercase;
}
.select2-dropdown {
  border: none;
  border-radius: 0px;
  color: $black !important;
  .select2-search {
    input {
      border: 1px solid $black;
    }
  }
  .select2-results {
    li {
      text-transform: lowercase;
      font-size: 16px;
      color: $black;
    }
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: $black;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: transparent;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  margin-bottom: 0px;
}

.paragraph--type--quote-image {
  background-color: $black;
  padding-top: 0px;
  padding-bottom: 70px;
  @include breakpoint(mediumplus) {
    padding-top: 70px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 130px;
  }
  .paragraph-quote-image {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(medium down) {
      padding: 0px;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    .left-wrapper {
      width: 100%;
      @include breakpoint(medium down) {
        margin-bottom: 20px;
      }
      @include breakpoint(mediumplus) {
        width: 45%;
        padding-right: 40px;
      }
      @include breakpoint(large) {
        padding-right: 60px;
      }
      img {
        width: 100%;
      }
    }
    .right-wrapper {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 55%;
        padding-left: 40px;
      }
      @include breakpoint(large) {
        padding-left: 50px;
      }
      img {
        width: 100%;
        @include breakpoint(medium down) {
          margin-bottom: 20px;
        }
      }
      .field-paragraph--field-title {
        @include breakpoint(medium down) {
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 55px;
        }
        @include breakpoint(mediumplus) {
          padding-top: 100px;
        }
        .field-item {
          font-size: 31px;
          font-family: $second-font-family;
          color: $white;
          line-height: 1.3;
          @include breakpoint(xxlarge) {
           font-size: 32px;
          }
        }
      }
    }
  }
}

.paragraph--type--title-text {
  background-color: $black;
  padding-top: 60px;
  padding-bottom: 30px;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-text-outer {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
    }
    .field-paragraph--field-title {
      width: 100%;
      @include breakpoint(medium down) {
        padding-bottom: 35px;
      }
      @include breakpoint(mediumplus) {
        padding-right: 40px;
        width: 45%;
      }
      @include breakpoint(large) {
        padding-right: 60px;
      }
      .field-item {
        font-size: 46px;
        font-family: $second-font-family;
        line-height: 1.2;
      }
    }
    .field-paragraph--field-text {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 55%;
        padding-left: 40px;
      }
      @include breakpoint(large) {
        padding-left: 50px;
      }
      .field-item {
        font-size: 18px;
        font-weight: 300;
        font-family: $body-font-family;
      }
    }
  }
}

.paragraph--type--image-link {
  background-color: $black;
  padding-top: 90px;
  padding-bottom: 90px;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .image-link {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(medium down) {
      padding: 0px;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
    }
    .field-paragraph--field-image {
      text-align: center;
      img {
        width: 100%;
        margin: auto;
      }
    }
    .bottom-wrapper {
      padding-top: 30px;
      @include breakpoint(medium down) {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
      }
      @include breakpoint(mediumplus) {
        display: flex;
        justify-content: space-between;
      }
     .field-paragraph--field-text {
        width: 100%;
        @include breakpoint(mediumplus) {
          width: 50%;
        }
        .field-item {
          font-size: 26px;

          font-family: $second-font-family;
          p{
            line-height: 1.5!important;
          }
        }
      }
      .field-paragraph--field-link {
        width: 100%;
        @include breakpoint(medium down) {
          padding-top: 15px;
        }
        @include breakpoint(mediumplus) {
          width: 50%;
          text-align: right;
        }
        a {
          @include button;
        }
      }
    }
  }
}

.paragraph--type--contact-me {
  background-color: $dark-gray;
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .paragraph-contact {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
    }
    .left-wrapper {
      width: 100%;
      @include breakpoint(medium down) {
        padding-bottom: 30px;
        text-align: center;
      }
      @include breakpoint(mediumplus) {
        width: 20%;
      }
      img {
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .right-wrapper {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 80%;
        padding-left: 70px;
      }
      @include breakpoint(xlarge) {
        padding-left: 110px;
      }
      .field-paragraph--field-text {
        p {
          font-size: 18px;
          font-weight: 300;
          font-family: $body-font-family;
        }
      }
      .field-paragraph--field-link {
        padding-top: 10px;
        a {
          @include button;
        }
      }
    }
  }
}

.paragraph--type--list-image {
  background-color: $black;
  padding-top: 0px;
  padding-bottom: 90px;
  @include breakpoint(mediumplus) {
    padding-top: 0px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 0px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .list-image {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
    }
    .left-wrapper {
      width: 100%;
      @include breakpoint(medium down) {
        padding-bottom: 20px;
      }
      @include breakpoint(mediumplus) {
        width: 45%;
        padding-right: 40px;
      }
      @include breakpoint(large) {
        padding-right: 60px;
      }
      .field-paragraph--field-title {
        font-size: 26px;
        font-family: $second-font-family;
        line-height: 1.5;
        padding-bottom: 50px;
      }
      .field-paragraph--field-list-item {
        .field-item {
          font-size: 18px;
          padding-left: 90px;
          position: relative;
          margin-bottom: 15px;
          font-weight: 300;
          @include breakpoint(mediumplus) {
            padding-left: 110px;
          }
          &:before {
            width: 56px;
            height: 1px;
            background-color: $white;
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            left: 0px;
            top: 11px;
          }
        }
      }
    }
    .right-wrapper {
      width: 100%;
      @include breakpoint(mediumplus) {
        width: 55%;
        padding-left: 40px;
      }
      @include breakpoint(large) {
        padding-left: 50px;
      }
      img {
        width: 100%;
      }
    }
  }
}

.paragraph--type--title-list-link {
  background-color: $dark-gray;
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(mediumplus) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(large) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .link-list {
    max-width: $global-width;
    margin: auto;
    @include row-container;
    color: $white;
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: wrap;
    }
    >.field-paragraph--field-title {
      padding-bottom: 30px;
      @include breakpoint(mediumplus) {
        padding-bottom: 40px;
      }
      @include breakpoint(mediumplus) {
        padding-bottom: 70px;
      }
      .field-item {
        font-size: 46px;
        font-family: $second-font-family;
        line-height: 1.2;
      }
    }
    .paragraph--type--link-list {
      padding-left: 90px;
      position: relative;
      margin-bottom: 20px;
      @include breakpoint(mediumplus) {
        padding-left: 110px;
      }
      &:before {
        width: 56px;
        height: 1px;
        background-color: $white;
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0px;
        top: 11px;
      }
      .field-paragraph--field-title {
        width: 100%;
        font-size: 18px;
        font-weight: 300;
      }
      .field-paragraph--field-link {
        display: inline-block;
        margin-top: 10px;
        padding-right: 30px;
        a {
          color: $white;
          font-size: 23px;
          font-style: italic;
          font-family: $second-font-family;
          text-decoration: underline;
          @include transition(0.35s);
          &:hover, &:focus {
            color: $light-gray;
          }
        }
      }
      .field-paragraph--field-file {
        display: inline-block;
        margin-top: 10px;
        a {
          color: $white;
          font-size: 23px;
          font-style: italic;
          font-family: $second-font-family;
          text-decoration: underline;
          @include transition(0.35s);
          &:hover, &:focus {
            color: $light-gray;
          }
          &:before {
            background-image: url("../images/file.svg");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            width: 23px;
            height: 23px;
            display: inline-block;
            content: "";
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
  }
}


.paragraph--type--realisations {
  max-width: $global-width;
  margin: auto;
  @include row-container;
  color: $white;
  padding-bottom: 30px;
  @include breakpoint(mediumplus) {
    padding-bottom: 40px;
  }
  @include breakpoint(large) {
    padding-bottom: 50px;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 70px;
  }
  @include breakpoint(xxlarge) {
    padding-bottom: 90px;
  }
  .views-exposed-form {
    margin-top: 120px;
    @include breakpoint(mediumplus) {
      padding-bottom: 100px;
    }
    @include breakpoint(xlarge) {
      padding-bottom: 0px;
    }
    > details.form-wrapper {
        margin: 0px;
        max-width: 300px;
        border: 2px solid $white;
        padding: 0px;
        position: relative;
        // &:before {
        //   width: 15px;
        //   height: 15px;
        //   background-color: $black;
        //   position: absolute;
        //   content: "";
        //   display: block;
        //   left: 2px;
        //   top: 14px;
        //   z-index: 1;
        // }
        @include breakpoint(mediumplus) {
          max-width: 250px;
        }
        @include breakpoint(large) {
          max-width: 300px;
        }
        summary {
          font-size: 16px;
          color: $white;
          font-family: $body-font-family;
          background-image: url("../images/triangle.svg");
          background-repeat: no-repeat;
          background-size: 14px;
          background-position: center right 15px;
          padding: 8px 22px;
          &::marker {
            font-size: 0px;
          }
        }
        .form-radios {
          padding: 10px 0px;
          border-top: 2px solid $white;
          .form-item {
            list-style: none;
            margin-bottom: 0px;
            padding: 0px 22px;
          &.active {
            label {
              font-weight: $global-weight-bold;
            }
          }
          input {
            opacity: 0;
            visibility: hidden;
            display: none;
          }
          label {
            font-family: $body-font-family;
            font-weight: $global-weight-normal;
            font-size: 16px;
            text-transform: lowercase;
            padding: 9px 0px;
            width: 100%;
            display: inline-block;
            color: $white;
            font-weight: 300;
            margin: 0;
            line-height: 1;
          }
        }
      }
    }
  }
  .views-infinite-scroll-content-wrapper {
    position: relative;
    @include breakpoint(medium down) {
      padding-top: 25px;
    }
    ul {
      margin: 0px;
      padding: 0px;
      li {
        list-style: none;
        .realisations-outer {
          position: relative;
          z-index: 1;
          @include transition(0.6s);
          height: 100%;
          &:before {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
          }
          @include breakpoint(mediumplus) {
            &:hover, &:focus {
              .realisations-inner {
                .link {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          a {
            &:after {
              position: absolute;
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              top: 0px;
              left: 0px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include breakpoint(medium down) {
                min-height: 300px;
              }
            }
          }
          .realisations-inner {
            position: absolute;
            top: 0px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
            padding: 25px 15px;
            @include transition(0.5s);
            height: 100%;
            @include breakpoint(mediumplus) {
              padding: 30px 15px;
            }
            @include breakpoint(large) {
              padding: 40px 30px;
            }
            @include breakpoint(xlarge) {
              padding: 60px 45px;
            }
            .title {
              color: $white;
              font-size: 22px;
              font-family: $second-font-family;
              line-height: 1.3;
              @include breakpoint(mediumplus) {
                max-width: 180px;
                font-size: 26px;
                line-height: 1.4;
              }
            }
            .link {
              margin-top: auto;
              @include transition(0.5s);
              width: 100%;
              @include breakpoint(mediumplus) {
                opacity: 0;
                visibility: hidden;
              }
              span {
                @include button;
                cursor: pointer;
              }
            }
          }
        }
      }
      .page-wrapper {
        .wrapper-1 {
          @include breakpoint(mediumplus) {
            position: absolute;
            right: 0;
            top: -285px;
            width: 60%;
          }
          @include breakpoint(large) {
            top: -350px;
            width: 59%;
          }
          @include breakpoint(xlarge) {
            width: auto;
            top: -300px;
          }
        }
        .wrapper-2 {
          margin-top: 10px;
          margin-bottom: 10px;
          @include breakpoint(mediumplus) {
            display: flex;
            margin: 0 -4px;
            margin-top: 0px;
            margin-bottom: 10px;
          }
          @include breakpoint(xlarge) {
            margin-top: 150px;
          }
          @include breakpoint(medium down) {
            li {
              margin-bottom: 10px;
            }
          }
          @include breakpoint(mediumplus) {
            li {
              &:first-child {
                width: 55%;
                padding: 0 4px;
              }
              &:last-child {
                width: 45%;
                padding: 0 4px;
              }
            }
          }
        }
        .wrapper-3 {
          margin-bottom: 10px;
          @include breakpoint(mediumplus) {
            margin: 0 -4px;
            display: flex;
          }
          @include breakpoint(medium down) {
            li {
              margin-bottom: 10px;
            }
          }
          @include breakpoint(mediumplus) {
            li {
              &:first-child {
                width: 65%;
                padding: 0 4px;
              }
              &:last-child {
                width: 35%;
                padding: 0 4px;
              }
            }
          }
        }
      }
    }
  }
  .js-pager__items {
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-top: 30px;
    @include breakpoint(mediumplus) {
      padding-top: 40px;
    }
    @include breakpoint(large) {
      padding-top: 50px;
    }
    @include breakpoint(xlarge) {
      padding-top: 70px;
    }
    @include breakpoint(xxlarge) {
      padding-top: 90px;
    }
    li {
      list-style: none;
      a {
        color: $white;
        font-size: 23px;
        font-style: italic;
        font-family: $second-font-family;
        text-decoration: underline;
        text-transform: lowercase;
        @include transition(0.35s);
        font-weight: 300;
        &:hover, &:focus {
          color: $light-gray;
        }
      }
    }
  }
}

.paragraph--type--slider {
  max-width: $global-width;
  margin: auto;
  @include row-container;
  color: $white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 160px;
  @include breakpoint(medium down) {
    padding-right: 0px;
    padding-left: 0px;
  }
  @include breakpoint(mediumplus) {
    margin-top: 30px;
    margin-bottom: 90px;
  }
  @include breakpoint(large) {
    margin-bottom: 120px;
  }
  @include breakpoint(xlarge) {
    margin-bottom: 160px;
  }
  @include breakpoint(xxlarge) {
    margin-bottom: 200px;
  }
  .field-paragraph--field-images {
    img {
      width: 100%;
    }
  }
  .swiper-button-outer {
    .swiper-inner {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      @include transition(0.35s);
      width: 65px;
      z-index: 99;
      margin: auto;
      .swiper-button-prev {
        background-color: rgba(0, 0, 0, 0.73);
        top: -42px;
      }
      .swiper-button-next {
        background-color: #262626;
        top: 22px;
      }
      .swiper-button-prev, .swiper-button-next {
        background-image: none;
        width: 65px;
        height: 65px;
        @include transition(0.35s);
        z-index: 11;
        opacity: 1;
        &:hover, &:focus {
          background-color: $white;
        }
        &:before {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 35px;
          content: "";
          display: block;
          @include transition(0.35s);
        }
      }
      .swiper-button-prev {
        left: 0px;
        &:before {
          background-image: url("../images/right-arrow.svg");
        }
        &:hover, &:focus {
          &:before {
            background-image: url("../images/right-arrow-black.svg");
          }
        }
      }
      .swiper-button-next {
        right: 0px;
        &:before {
          background-image: url("../images/left-arrow.svg");
        }
        &:hover, &:focus {
          &:before {
            background-image: url("../images/left-arrow-black.svg");
          }
        }
      }
    }
  }
}
