{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <div{{attributes}}>
  {% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{list.type}}{{list.attributes}}>
    {% set counter = 1 %}
    {% set innercounter = 1 %}
        {% for row in rows %}
          {% if loop.first %}
            <div class="page-wrapper">
            {% endif %}
            {% if counter == 1 %}
              <div class="wrapper-1">
              {% endif %}
              <li{{row.attributes}}>
                {% if counter == 1 %}
                  {% set image = row.content['#row']._entity.field_image.entity.uri.value %}
                  {% set image = image|image_style('patchwork_1') %}
                  <div class="realisations-outer">
                    <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}"><img alt="Stretch and more" src="{{ image }}"></img>
                    <div class="realisations-inner">
                      <div class="title">{{ row.content['#row']._entity.label }}</div>
                      <div class="link"><span>{{ 'project bekijken' |t }}</span></div>
                    </div>
                  </div>
                </a>
              {% endif %}
              {% if counter == 2 %}
                {% set image = row.content['#row']._entity.field_image.entity.uri.value %}
                {% set image = image|image_style('patchwork_2') %}
                <div class="realisations-outer">
                  <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}"><img alt="Stretch and more" src="{{ image }}"></img>
                  <div class="realisations-inner">
                    <div class="title">{{ row.content['#row']._entity.label }}</div>
                    <div class="link"><span>{{ 'project bekijken' |t }}</span></div>
                  </div>
                </div>
              </a>
            {% endif %}
            {% if counter == 3 %}
              {% set image = row.content['#row']._entity.field_image.entity.uri.value %}
              {% set image = image|image_style('patchwork_3') %}
              <div class="realisations-outer">
                <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}"><img alt="Stretch and more" src="{{ image }}"></img>
                <div class="realisations-inner">
                  <div class="title">{{ row.content['#row']._entity.label }}</div>
                  <div class="link"><span>{{ 'project bekijken' |t }}</span></div>
                </div>
              </div>
             </a>


          {% endif %}

          {% if counter == 4 %}
            {% set image = row.content['#row']._entity.field_image.entity.uri.value %}
            {% set image = image|image_style('patchwork_1') %}
            <div class="realisations-outer">
              <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}"><img alt="Stretch and more" src="{{ image }}"></img>
                <div class="realisations-inner">
                  <div class="title">{{ row.content['#row']._entity.label }}</div>
                  <div class="link"><span>{{ 'project bekijken' |t }}</span></div>
                </div>
            </div>
          </a>


        {% endif %}

        {% if counter == 5 %}
          {% set image = row.content['#row']._entity.field_image.entity.uri.value %}
          {% set image = image|image_style('patchwork_4') %}
          <div class="realisations-outer">
            <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}"><img alt="Stretch and more" src="{{ image }}"></img>
            <div class="realisations-inner">
              <div class="title">{{ row.content['#row']._entity.label }}</div>
              <div class="link"><span>{{ 'project bekijken' |t }}</span></div>
            </div>
          </a>
        </div>

      {% endif %}


  </li>
{% if counter == 1 %}
</div>
{% if loop.last %}
{% else %}
  <div class="wrapper-2">
  {% endif %}
  {% endif %}

{% if counter == 3 %}
</div>
{% if loop.last %}
	{% else %}
		<div class="wrapper-3">
		{% endif %}
{% endif %}


  {% if counter == 5 %}
  </div>
  {% endif %}
  {% if loop.index is divisible by(5) %}
</div>
    {% set counter = 0 %}
    {% endif %}
    {% if loop.last %}
  {% endif %}
  {% set counter = counter + 1 %}
  {% set innercounter = innercounter + 1 %}
  {% endfor %}
  </{{list.type}}>
{% if attributes -%}
</div>
{% endif %}
