{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>
<div class="swiper-container realisation-paragraph">
<div class="swiper-wrapper">
    {% for row in rows %}
      <li class="swiper-slide">
        <div class="swiper-content-inner">
          {{- row.content -}}
        </div>
      </li>
    {% endfor %}
</div>
</div>

  <div class="swiper-button">
    <div class="swiper-button-inner">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  </{{ list.type }}>
{% if attributes -%}
  </div>
{% endif %}
